<div class="drawer-overlay" [ngClass]="{'show': properties.showOverlay === true, 'hide': properties.hideOverlay === true}"
 (click)="clickOverlay()"></div>
<div class="drawer-container" [ngClass]="{'show': properties.isDrawerOpen === true}">
	<mat-toolbar color="white">
		<mat-icon (click)="clickOverlay()" id="cancellationBackArrow">arrow_back</mat-icon>
		<div class="drawer-header-text">{{ headerText }}</div>
	</mat-toolbar>
	<div class="drawer-content">
		<mat-card>
			<div class="card-heading" l10nTranslate>Header.Details</div>
			<mat-form-field class='firstFormField' id="firstFormField">
				<input matInput [disabled]="!properties.isDrawerOpen || properties.rowID !== ''" (change)='resetExists();' placeholder="{{translation.translate('Label.Code')}}"
				 id='firstField' (keydown.Tab)="tabEvent()" [(ngModel)]="cancellation.Code"
				 #code=ngModel (input)='updateDescription()' appCodeLabValidation (blur)="blurCode();"  />
				<mat-error *ngIf="code.errors">{{code.errors.message}}</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput [disabled]=!properties.isDrawerOpen (change)="checkDescriptionChange();" placeholder="{{translation.translate('Label.Description')}}"
				 id='descriptionField' [(ngModel)]="cancellation.Description" />
			</mat-form-field>
			<mat-form-field>
					<mat-select id="labSelect" [disabled]="!properties.isDrawerOpen" placeholder="{{translation.translate('Label.Lab')}}"
					 #lab=ngModel genericRequired [(ngModel)]="cancellation.Laboratory.Id">
						<mat-option *ngFor="let lab of labOptions" [value]="lab.Code">{{ lab.Code }}</mat-option>
					</mat-select>
					<mat-error *ngIf="lab.errors">{{lab.errors.message}}</mat-error>
				</mat-form-field>
			<div class="drawer-toggle-container">
				<label l10nTranslate>Label.Active</label>
				<mat-slide-toggle [disabled]=!properties.isDrawerOpen id="cancellationIsActive" color="primary" [(ngModel)]="cancellation.IsActive"></mat-slide-toggle>
			</div>
		</mat-card>
	</div>
	<div class="drawer-footer">
		<button [disabled]=!properties.isDrawerOpen class="btn-save-and-add-another" id="cancellationSaveAndAddButton"
		 mat-button (click)="checkForm(true)" *ngIf="headerText === translation.translate('Label.Add cancellation')"
		 l10nTranslate>Label.Save & Add Another</button>
		<button [disabled]=!properties.isDrawerOpen class="btn-save" id="cancellationSaveButton" mat-button (click)="checkForm(false)"
		 l10nTranslate>Label.Save</button>
	</div>
</div>