<div class="scroll-container" [ngClass]="{'mac': !(platform === 'Win32' || platform === 'Win64')}">
	<table>
		<thead>
			<tr class="header-row">
				<ng-container *ngFor="let col of columns.display">
					<ng-container *ngIf="col.name !== 'Timer' && col.name !== 'Reserved' && col.name !== 'Problem list' && col.checked">
						<th>
							<div>
								<span class="sort-header" [ngClass]="{'sorted-asc': (grid.sort.column === col.name && grid.sort.order === 'desc'), 'sorted-desc': (grid.sort.column === col.name && grid.sort.order === 'asc')}"
								 (click)=sort(col);>{{col.display}}
									<span class="sort-arrow-container">
										<span class="sort-arrow-middle"></span>
										<span class="sort-arrow-stem"></span>
										<span class="sort-arrow-left"></span>
										<span class="sort-arrow-right"></span>
									</span>
								</span>
							</div>
						</th>
					</ng-container>
					<ng-container *ngIf="col.name === 'Timer'">
						<ng-container *ngIf="(canSupersedeReservations | async)">
							<th>
								<span class="sort-header" l10nTranslate>Label.Timer</span>
							</th>
						</ng-container>
					</ng-container>
					<ng-container *ngIf="col.name === 'Reserved'">
						<th>
							<mat-icon class="Reserved-header-icon" (click)=reserveAll()>check_box_outline_blank</mat-icon>
						</th>
					</ng-container>
					<ng-container *ngIf="col.name === 'Problem list' && (canDisplayProblemList | async)">
						<th>
							<span class="sort-header">{{col.display}}</span>
						</th>
					</ng-container>
				</ng-container>
			</tr>
		</thead>
		<ng-container *ngFor="let collection of patients">
			<ng-container *ngIf="(collection.count < paginationEnd && collection.count >= paginationStart)">
				<tr class="grid-row" [ngClass]="{'selected': selectedRowId === collection.Id, 'rowDisabled': collection.Status === 'Complete' || collection.IsCancelled, 'splitRow': (canDisplayHomeDrawAddress | async) || (canDisplayLocationAddress | async)}"
				 (click)=selectRow(collection) [hidden]="!(collection.count < paginationEnd && collection.count >= paginationStart)">
					<ng-container *ngFor="let col of columns.display">
						<ng-container *ngIf="col.name !== 'Reserved' && col.name !== 'Bed' && col.name !== 'Problem list'">
							<td>
								<span *ngIf="col.name === 'Name' && collection.IsTransferred" class="greenDotTransferred"></span>
								<span *ngIf="col.name === 'Name'">{{collection.Patient.LastName}}, {{collection.Patient.FirstName}}</span>
								<span *ngIf="col.name === 'DOB'">{{collection.Patient.DateOfBirth}}</span>
								<span *ngIf="col.name === 'Gender'">{{collection.Patient.Gender}}</span>
								<span *ngIf="col.name === 'MRN'">{{collection.Patient.MRN}}</span>
								<span *ngIf="col.name === 'Location'">{{collection.CollectedLocation.Code}}</span>
								<span *ngIf="col.name === 'Priority'" [ngClass]="{'showColor': collection.Priority && collection.Priority.ShowColor === true}">{{collection.Priority?.Description}}</span>
								<span *ngIf="col.name === 'Time'">{{collection.ScheduledTime}}</span>
								<span *ngIf="col.name === 'Bed'">{{collection.Bed}}</span>
								<span *ngIf="col.name === 'Timer' && (canSupersedeReservations | async)">{{getRequestTimer(collection)}</span>
							</td>
						</ng-container>
						<ng-container *ngIf="col.name === 'Bed' && (canDisplayBed | async)">
							<td>
								<span>{{collection.Bed}}</span>
							</td>
						</ng-container>
						<ng-container *ngIf="col.name === 'Problem list' && (canDisplayProblemList | async)">
							<td>
								<mat-icon class="problemListIcon" svgIcon="problem_list" *ngIf=collection.IsProblem></mat-icon>
							</td>
						</ng-container>
						<ng-container *ngIf="col.name === 'Reserved'">
							<td>
								<ng-container *ngIf="collection.IsCancelled">
									<mat-icon class="completeIcon">close</mat-icon>
								</ng-container>
								<ng-container *ngIf="!collection.IsCancelled">
									<mat-icon class="completeIcon" *ngIf="collection.Status === 'Complete'">done</mat-icon>
									<mat-icon class="reservationIcons" *ngIf="collection.Status === 'Available' || collection.Status === ''" (click)=cycleReserved(collection)>check_box_outline_blank</mat-icon>
									<mat-icon class="reservationIcons" *ngIf="collection.Status === 'Reserved' && collection.ReservedBy.Username === currentPhleb.username"
									 (click)=cycleReserved(collection)>check_box</mat-icon>
									<mat-icon class="reservationIcons" *ngIf="collection.Status === 'Locked' && collection.ReservedBy.Username === currentPhleb.username"
									 svgIcon="locked" (click)=cycleReserved(collection)></mat-icon>
									<mat-icon class="reservationIcons" *ngIf="collection.Status === 'Reserved' && collection.ReservedBy.Username !== currentPhleb.username && (canSupersedeReservations | async) "
									 svgIcon="other_reserved" (click)=cycleReserved(collection)></mat-icon>
									<mat-icon class="reservationIcons noPointer" *ngIf="collection.Status === 'Reserved'  && collection.ReservedBy.Username !== currentPhleb.username &&  !(canSupersedeReservations | async)"
									 svgIcon="other_reserved"></mat-icon>
									<mat-icon class="reservationIcons" *ngIf="collection.Status === 'Locked' &&  (canSupersedeReservations | async) && collection.ReservedBy.Username !== currentPhleb.username"
									 svgIcon="blocked" (click)=requestLocked(collection)></mat-icon>
									<mat-icon class="reservationIcons noPointer" *ngIf="collection.Status === 'Locked' && !(canSupersedeReservations | async) && collection.ReservedBy.Username !== currentPhleb.username"
									 svgIcon="blocked"></mat-icon>
								</ng-container>
							</td>
						</ng-container>
					</ng-container>
				</tr>
				<tr *ngIf="(canDisplayHomeDrawAddress | async) || (canDisplayLocationAddress | async)" [ngClass]="{'selected': selectedRowId === collection.Id, 'rowDisabled': collection.Status === 'Complete' || collection.IsCancelled}"
				 class="addressRow" (mouseenter)="hoverAddressRow($event)" (mouseleave)="leaveAddressRow($event)" (click)=selectRow(collection)>
					<td [colSpan]=columns.display.length style="border-bottom: 1px rgba(0, 0, 0, 0.12) solid;">
						<span class="addressSpan">{{collection.CollectedLocation.Address}}</span>
					</td>
				</tr>
			</ng-container>
		</ng-container>
	</table>
</div>
<div class="custom-paginator" [ngClass]="{'noBorderPaginator': !(patients && patients.length)}">
	<div class="mat-paginator" style="line-height:56px; border-top: unset !important;">
		<span class="items-per-page" l10nTranslate>
			Label.Items per page
		</span>

		<mat-form-field class="paginator-select">
			<mat-select matSelect [(ngModel)]="paginatorSelected" (selectionChange)=updatePaginatorNumber()>
				<mat-option *ngFor="let option of paginatorOptions" [value]="option">{{option}}</mat-option>
			</mat-select>
		</mat-form-field>

		<span class="paginator-range">
			{{ paginatorRange }}
		</span>
	</div>
	<mat-icon class="paginator-icon left-chevron" title="{{translation.translate('Label.Previous')}}" id="previous" *ngIf="paginationStart !== 0"
	 (click)=changePageIndex(-1)>chevron_left</mat-icon>
	<mat-icon class="paginator-icon paginator-icon-disabled left-chevron" id="nav-end" *ngIf="paginationStart === 0">chevron_left</mat-icon>
	<mat-icon class="paginator-icon right-chevron" title="{{translation.translate('Label.Next')}}" id="next" *ngIf="paginationEnd < paginationTotal"
	 (click)=changePageIndex(1)>chevron_right</mat-icon>
	<mat-icon class="paginator-icon paginator-icon-disabled right-chevron" *ngIf="paginationEnd >= paginationTotal">chevron_right</mat-icon>
</div>