.ap {
    background-color: Transparent;
    border: 1pt none Black;
}

.a12c {
    border: 1pt none Black;
    background-color: Transparent;
}

.a12 {
    min-width: 197.31mm;
    min-height: 23.27mm;
    WIDTH: 197.31mm;
    border: 1pt none Black;
    background-color: Transparent;
}

.a1 {
    min-width: 50.80mm;
    HEIGHT: 13.97mm;
    WIDTH: 50.80mm;
    overflow: hidden;
    padding-left: 0pt;
    padding-top: 0pt;
    padding-right: 0pt;
    padding-bottom: 2pt;
    border: 1pt none Black;
}

.a4 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 0.5pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 1pt none Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 14pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: center;
}

.a10l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border: 1pt none Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 10pt;
    font-weight: 400;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
}

.a7 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 0.5pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 1pt none Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: center;
}

.a181xBc {
    border: 1pt none Black;
    background-color: Transparent;
}

.a181xB {
    border: 1pt none Black;
    background-color: Transparent;
}

.a179 {
    border: 1pt none Black;
    background-color: Transparent;
}

.a84cl {
    padding-left: 2pt;
    padding-top: 1pt;
    padding-right: 0.5pt;
    padding-bottom: 1pt;
    border-bottom: 1pt solid Black;
    border-left: 1pt solid Black;
    border-right: 1pt solid Black;
    border-top: 1pt solid Black;
    background-color: Transparent;
    vertical-align: middle;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 101.50mm;
    WIDTH: 103.09mm;
}

.a84 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: middle;
    text-align: left;
}

.a89c {
    padding-left: 0.5pt;
    padding-top: 1pt;
    padding-right: 0.5pt;
    padding-bottom: 1pt;
    border-bottom: 1pt solid Black;
    border-left: 1pt solid Black;
    border-right: 1pt solid Black;
    border-top: 1pt solid Black;
    background-color: Transparent;
    vertical-align: middle;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 91.32mm;
    WIDTH: 92.38mm;
}

.a89 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: middle;
    text-align: left;
}

.a97c {
    padding-left: 2pt;
    padding-top: 10pt;
    padding-right: 0.5pt;
    padding-bottom: 10pt;
    border: 1pt none Black;
    border-bottom: 1pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: center;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 194.59mm;
    WIDTH: 195.47mm;
}

.a97 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 14pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: center;
}

.a107c {
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    vertical-align: top;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 194.59mm;
    WIDTH: 195.47mm;
}

.a107 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
}

.a106 {
    text-align: left;
}

.a105 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: Black;
}

.a117c {
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    vertical-align: top;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 194.59mm;
    WIDTH: 195.47mm;
}

.a117 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
}

.a116 {
    text-align: left;
}

.a115 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
}

.a127c {
    padding-left: 2pt;
    padding-top: 5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border-bottom: 0.5pt solid Black;
    border-left: 0.5pt solid Black;
    border-right: 0.5pt solid Black;
    border-top: 0.5pt solid Black;
    background-color: #d3d3d3;
    vertical-align: top;
    text-align: center;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 48.92mm;
    WIDTH: 50.15mm;
}

.a127 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 11pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: center;
}

.a131c {
    padding-left: 2pt;
    padding-top: 5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border-bottom: 0.5pt solid Black;
    border-left: 0.5pt solid Black;
    border-right: 0.5pt solid Black;
    border-top: 0.5pt solid Black;
    background-color: #d3d3d3;
    vertical-align: top;
    text-align: center;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 124.14mm;
    WIDTH: 125.37mm;
}

.a131 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 11pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: center;
}

.a138c {
    padding-left: 2pt;
    padding-top: 5pt;
    padding-right: 2pt;
    padding-bottom: 0.5pt;
    border-bottom: 0.5pt solid Black;
    border-left: 0.5pt solid Black;
    border-right: 0.5pt solid Black;
    border-top: 0.5pt solid Black;
    background-color: #d3d3d3;
    vertical-align: top;
    text-align: center;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 18.18mm;
    WIDTH: 19.95mm;
}

.a138 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 11pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: center;
}

.a143c {
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border: 2pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 47.33mm;
    WIDTH: 50.15mm;
}

.a143 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 10pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
}

.a147cl {
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border-bottom: 2pt solid Black;
    border-left: 2pt solid Black;
    border-right: 2pt solid Black;
    border-top: 2pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 122.55mm;
    WIDTH: 125.37mm;
}

.a147 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 10pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
}

.a154c {
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border-bottom: 2pt solid Black;
    border-left: 2pt solid Black;
    border-right: 2pt solid Black;
    border-top: 2pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: right;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 17.12mm;
    WIDTH: 19.95mm;
}

.a154 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 10pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: right;
}

.a159c {
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border-right: 2pt solid Black;
    border-top: 2pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 148.08mm;
    WIDTH: 150.90mm;
}

.a166cl {
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border-bottom: 2pt solid Black;
    border-left: 2pt solid Black;
    border-right: 2pt solid Black;
    border-top: 2pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 21.80mm;
    WIDTH: 24.62mm;
}

.a166 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 10pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
}

.a170c {
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border-bottom: 2pt solid Black;
    border-left: 2pt solid Black;
    border-right: 2pt solid Black;
    border-top: 2pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: right;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 17.12mm;
    WIDTH: 19.95mm;
}

.a170 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 10pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: right;
}

.a65c {
    border: 1pt none Black;
    background-color: Transparent;
}

.a65 {
    min-width: 197.31mm;
    min-height: 158.39mm;
    WIDTH: 197.31mm;
    border: 1pt none Black;
    background-color: Transparent;
}

.a15l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 10pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
}

.a18 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
}

.a17 {
    text-align: left;
}

.a16 {
    font-family: Arial;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
}

.a21 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
}

.a20 {
    text-align: left;
}

.a19 {
    font-family: Arial;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
}

.a24 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
}

.a23 {
    text-align: left;
}

.a22 {
    font-family: Arial;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
}

.a27 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 15pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
}

.a26 {
    text-align: left;
}

.a25 {
    font-family: Arial;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
}

.a30 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 47pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
}

.a29 {
    text-align: left;
}

.a28 {
    font-family: Arial;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
}

.a33l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 1pt solid Black;
    background-color: #d3d3d3;
    font-style: normal;
    font-family: Arial;
    font-size: 10pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
}

.a36 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 5pt;
    padding-right: 0.5pt;
    padding-bottom: 5pt;
    border: 0.5pt none Black;
    border-left: 0.5pt solid Black;
    border-right: 0.5pt solid Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
}

.a35 {
    text-align: left;
}

.a34 {
    font-family: Arial;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
}

.a39 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 5pt;
    border: 0.5pt none Black;
    border-left: 0.5pt solid Black;
    border-right: 0.5pt solid Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
}

.a38 {
    text-align: left;
}

.a37 {
    font-family: Arial;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
}

.a42 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 5pt;
    border: 0.5pt none Black;
    border-bottom: 1.5pt solid Black;
    border-left: 0.5pt solid Black;
    border-right: 0.5pt solid Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
}

.a41 {
    text-align: left;
}

.a40 {
    font-family: Arial;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
}

.a45 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 5pt;
    padding-right: 0.5pt;
    padding-bottom: 5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
}

.a44 {
    text-align: left;
}

.a43 {
    font-family: Arial;
    font-size: 10pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
}

.a48l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 4px;
    padding-right: 0.5pt;
    padding-bottom: 2pt;
    border-bottom: 1.5pt solid Black;
    border-left: 1.5pt solid Black;
    border-right: 1.5pt solid Black;
    border-top: 1.5pt solid Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
}

.a51l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 20pt;
    padding-right: 0.5pt;
    padding-bottom: 2pt;
    border-bottom: 1.5pt solid Black;
    border-left: 1.5pt solid Black;
    border-right: 1.5pt solid Black;
    border-top: 1.5pt solid Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
}

.a54 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border: 1pt none Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 7pt;
    font-weight: 400;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: center;
}

.a57l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 4pt;
    border: 1pt none Black;
    border-bottom: 1pt solid Gray;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 7pt;
    font-weight: 400;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
}

.a60l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border: 1pt none Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 9pt;
    font-weight: 400;
    text-decoration: none;
    unicode-bidi: normal;
    color: Gray;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
}

.a63 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border: 1pt none Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 9pt;
    font-weight: 400;
    text-decoration: none;
    unicode-bidi: normal;
    color: Gray;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: right;
}

.r1 {
    HEIGHT: 100%;
    WIDTH: 100%
}

.r2 {
    HEIGHT: 100%;
    WIDTH: 100%;
    overflow: hidden
}

.r3 {
    HEIGHT: 100%
}

.r4 {
    border-style: none
}

.r5 {
    border-left-style: none
}

.r6 {
    border-right-style: none
}

.r7 {
    border-top-style: none
}

.r8 {
    border-bottom-style: none
}

.r10 {
    border-collapse: collapse
}

.r9 {
    border-collapse: collapse;
    table-layout: fixed
}

.r11 {
    WIDTH: 100%;
    overflow-x: hidden
}

.r12 {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid black;
}

.r13 {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.r14 {
    font-size: 0pt
}

.r15 {
    direction: RTL;
    unicode-bidi: embed
}

.r16 {
    margin-top: 0pt;
    margin-bottom: 0pt
}

.r17 {
    HEIGHT: 100%;
    WIDTH: 100%;
    display: inline-table
}

.r18 {
    HEIGHT: 100%;
    display: inline-table
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.a48l.hasSignature {
    padding-top: 0pt;
    padding-bottom: 0pt;
}

.a51l.hasSignature {
    padding-top: 26pt;
}