<DIV dir="LTR" ID="oReportDiv">
  <DIV style="WIDTH:100%;" class="ap">
    <TABLE CELLSPACING="0" CELLPADDING="0">
      <TR>
        <TD ID="oReportCell">
          <TABLE CELLSPACING="0" CELLPADDING="0">
            <TR>
              <TD class="a12c">
                <DIV class="a12">
                  <TABLE CELLSPACING="0" CELLPADDING="0" BORDER="0" COLS="7" LANG="en-US" class="r10"
                    style="HEIGHT:23.27mm;WIDTH:197.3103mm">
                    <TR>
                      <TD style="HEIGHT:1.03mm;WIDTH:0.00mm"></TD>
                      <TD style="WIDTH:0.92mm;min-width: 0.92mm;HEIGHT:1.03mm;"></TD>
                      <TD style="WIDTH:50.80mm;min-width: 50.80mm;HEIGHT:1.03mm;"></TD>
                      <TD style="WIDTH:1.76mm;min-width: 1.76mm;HEIGHT:1.03mm;"></TD>
                      <TD style="WIDTH:91.15mm;min-width: 91.15mm;HEIGHT:1.03mm;"></TD>
                      <TD style="WIDTH:5.23mm;min-width: 5.23mm;HEIGHT:1.03mm;"></TD>
                      <TD style="WIDTH:47.45mm;min-width: 47.45mm;HEIGHT:1.03mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:5.32mm;WIDTH:0.00mm"></TD>
                      <TD style="WIDTH:0.92mm;min-width: 0.92mm;HEIGHT:5.32mm;"></TD>
                      <TD ROWSPAN="4" style="WIDTH:60.80mm;min-width: 60.80mm;">
                        <DIV style="">
                          <div class='labInfo' style='margin-left: 8px;'>
                            <span style='font-size: 11px; position: relative;'>{{ data.Lab.Description }}</span><br>
                            <span
                              style='font-size: 11px; position: relative; top: -7px;'>{{ data.Lab.Address }}</span><br>
                            <span style='font-size: 11px; position: relative; top: -13px;'>{{ data.Lab.Phone }}</span>
                          </div>
                        </DIV>
                      </TD>
                      <TD COLSPAN="4" style="WIDTH:145.59mm;min-width: 145.59mm;HEIGHT:5.32mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:6.09mm;WIDTH:0.00mm"></TD>
                      <TD style="WIDTH:0.92mm;min-width: 0.92mm;HEIGHT:6.09mm;"></TD>
                      <TD style="WIDTH:1.76mm;min-width: 1.76mm;HEIGHT:6.09mm;"></TD>
                      <TD style="WIDTH:91.15mm;min-width: 91.15mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:91.15mm;min-width: 90.80mm;HEIGHT:6.09mm;" class="a4">
                              <DIV style="WIDTH:78.80mm;">{{ data.Lab.Description }}</DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:5.23mm;min-width: 5.23mm;HEIGHT:6.09mm;"></TD>
                      <TD ROWSPAN="3" style="WIDTH:47.45mm;min-width: 47.45mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:43.77mm;min-width: 42.35mm;HEIGHT:8.65mm;" class="a10l">
                              <!-- <DIV style="WIDTH:42.35mm;">1001 Woodward Place
                                                                    NE<br />Albuquerque, NM 87102<br />800-245-3296
                                                                </DIV> -->
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                    </TR>
                    <TR>
                      <TD style="HEIGHT:0.35mm;WIDTH:0.00mm"></TD>
                      <TD style="WIDTH:0.92mm;min-width: 0.92mm;HEIGHT:0.35mm;"></TD>
                      <TD COLSPAN="3" style="WIDTH:98.14mm;min-width: 98.14mm;HEIGHT:0.35mm;">
                      </TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:2.21mm;WIDTH:0.00mm"></TD>
                      <TD style="WIDTH:0.92mm;min-width: 0.92mm;HEIGHT:2.21mm;"></TD>
                      <TD style="WIDTH:1.76mm;min-width: 1.76mm;HEIGHT:2.21mm;"></TD>
                      <TD ROWSPAN="2" style="WIDTH:91.15mm;
min-width: 91.15mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:91.15mm;min-width: 90.80mm;HEIGHT:6.09mm;" class="a7">
                              <DIV style="WIDTH:78.80mm;">{{ mainKey.Headers.Four }} TRL Test</DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:5.23mm;min-width: 5.23mm;HEIGHT:2.21mm;"></TD>
                    </TR>
                    <TR>
                      <TD style="HEIGHT:8.27mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="3" style="WIDTH:53.48mm;min-width: 53.48mm;HEIGHT:8.27mm;">
                      </TD>
                      <TD COLSPAN="2" style="WIDTH:52.68mm;min-width: 52.68mm;HEIGHT:8.27mm;">
                      </TD>
                    </TR>
                  </TABLE>
                </DIV>
              </TD>
            </TR>
            <TR>
              <TD class="a181xBc">
                <TABLE CELLSPACING="0" CELLPADDING="0" BORDER="0" class="a181xB">
                  <TR>
                    <TD style="vertical-align:top">
                      <TABLE CELLSPACING="0" CELLPADDING="0" BORDER="0" COLS="3" LANG="en-US" class="r10"
                        style="WIDTH:197.3103mm">
                        <TR>
                          <TD style="HEIGHT:1.32mm;WIDTH:0.00mm"></TD>
                          <TD style="WIDTH:0.92mm;min-width: 0.92mm;HEIGHT:1.32mm;"></TD>
                          <TD style="WIDTH:196.39mm;min-width: 196.39mm;HEIGHT:1.32mm;">
                          </TD>
                        </TR>
                        <TR VALIGN="top">
                          <TD style="WIDTH:0.00mm"></TD>
                          <TD style="WIDTH:0.92mm;min-width: 0.92mm;"></TD>
                          <TD style="WIDTH:196.39mm;min-width: 196.39mm;">
                            <TABLE CELLSPACING="0" CELLPADDING="0" COLS="6" BORDER="0"
                              style="border-collapse:collapse;WIDTH:195.47mm;min-width: 195.47mm;" class="a179">
                              <TR HEIGHT="0">
                                <TD style="WIDTH:50.15mm;min-width: 50.15mm"></TD>
                                <TD style="WIDTH:52.94mm;min-width: 52.94mm"></TD>
                                <TD style="WIDTH:23.90mm;min-width: 23.90mm"></TD>
                                <TD style="WIDTH:23.90mm;min-width: 23.90mm"></TD>
                                <TD style="WIDTH:24.62mm;min-width: 24.62mm"></TD>
                                <TD style="WIDTH:19.95mm;min-width: 19.95mm"></TD>
                              </TR>
                              <TR VALIGN="top">
                                <TD COLSPAN="2" style="HEIGHT:3.18mm;" class="a84cl">
                                  <DIV class="a84">{{ mainKey.Headers.One }} {{ data.Collection.Patient.FullName }}
                                  </DIV>
                                </TD>
                                <TD COLSPAN="4" class="a89c">
                                  <DIV class="a89"> {{ mainKey.Headers.Two }} 11001732</DIV>
                                </TD>
                              </TR>
                              <TR VALIGN="top">
                                <TD COLSPAN="6" style="HEIGHT:3.18mm;" class="a97c">
                                  <DIV class="a97">{{ mainKey.Headers.Three }}</DIV>
                                </TD>
                              </TR>
                              <TR VALIGN="top">
                                <TD COLSPAN="6" style="HEIGHT:3.18mm;" class="a107c">
                                  <DIV class="a107">
                                    <DIV style="WIDTH:194.59mm;">
                                      <DIV class="a106"><span style="text-decoration:underline;"
                                          class="a105">{{ mainKey.Section1.One }}</span><span class="a105">
                                          {{ mainKey.Section1.Two }}</span><span style="text-decoration:underline;"
                                          class="a105"> {{ mainKey.Section1.Three }}</span><span class="a105">
                                          {{ mainKey.Section1.Four }}</span></DIV>
                                    </DIV>
                                  </DIV>
                                </TD>
                              </TR>
                              <TR VALIGN="top">
                                <TD COLSPAN="6" style="HEIGHT:3.18mm;" class="a117c">
                                  <DIV class="a117">
                                    <DIV style="WIDTH:194.59mm;">
                                      <DIV class="a116"><span class="a115">{{ mainKey.Section1.Five }}
                                        </span><span style="font-weight:700;text-decoration:underline;" class="a115">
                                          {{ mainKey.Section1.Six }}</span><span class="a115">
                                          {{ mainKey.Section1.Seven }}</span></DIV>
                                    </DIV>
                                  </DIV>
                                </TD>
                              </TR>
                              <TR VALIGN="top">
                                <TD style="HEIGHT:3.18mm;" class="a127c">
                                  <DIV class="a127">{{ mainKey.TableSection.One }}</DIV>
                                </TD>
                                <TD COLSPAN="4" class="a131c">
                                  <DIV class="a131">{{ mainKey.TableSection.Two }}
                                  </DIV>
                                </TD>
                                <TD class="a138c">
                                  <DIV class="a138">{{ mainKey.TableSection.Three }}</DIV>
                                </TD>
                              </TR>
                              <TR *ngFor='let test of tests' VALIGN="top">
                                    <TD style="HEIGHT:3.18mm;" class="a143c">
                                        <DIV class="a143">{{ test.Code }}, {{ test.Description }}</DIV>
                                    </TD>
                                    <TD COLSPAN="4" class="a147cl">
                                        <DIV class="a147">{{ test.Reason }}</DIV>
                                    </TD>
                                    <TD class="a154c">
                                        <DIV class="a154">${{ test.ChargeAmount }}</DIV>
                                    </TD>
                                </TR>
                              <TR VALIGN="top">
                                <TD COLSPAN="4" style="HEIGHT:3.18mm;" class="a159c r14">&nbsp;</TD>
                                <TD class="a166cl">
                                  <DIV class="a166">{{ mainKey.TableSection.Four }}</DIV>
                                </TD>
                                <TD class="a170c">
                                  <DIV class="a170">${{ totalAmount }}</DIV>
                                </TD>
                              </TR>
                            </TABLE>
                          </TD>
                        </TR>
                      </TABLE>
                    </TD>
                  </TR>
                </TABLE>
              </TD>
            </TR>
            <TR>
              <TD class="a65c">
                <DIV class="a65">
                  <TABLE CELLSPACING="0" CELLPADDING="0" BORDER="0" COLS="13" LANG="en-US" class="r10"
                    style="HEIGHT:158.39mm;WIDTH:197.3103mm">
                    <TR HEIGHT="0">
                      <TD style="WIDTH:0px"></TD>
                      <TD style="WIDTH:0.34mm;min-width: 0.34mm"></TD>
                      <TD style="WIDTH:0.12mm;min-width: 0.12mm"></TD>
                      <TD style="WIDTH:0.00mm;min-width: 0.00mm"></TD>
                      <TD style="WIDTH:0.46mm;min-width: 0.46mm"></TD>
                      <TD style="WIDTH:0.00mm;min-width: 0.00mm"></TD>
                      <TD style="WIDTH:74.75mm;min-width: 74.75mm"></TD>
                      <TD style="WIDTH:50.60mm;min-width: 50.60mm"></TD>
                      <TD style="WIDTH:28.77mm;min-width: 28.77mm"></TD>
                      <TD style="WIDTH:39.29mm;min-width: 39.29mm"></TD>
                      <TD style="WIDTH:2.05mm;min-width: 2.05mm"></TD>
                      <TD style="WIDTH:0.35mm;min-width: 0.35mm"></TD>
                      <TD style="WIDTH:0.46mm;min-width: 0.46mm"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:3.18mm;WIDTH:0.00mm"></TD>
                      <TD ROWSPAN="18" COLSPAN="2" style="WIDTH:0.46mm;min-width: 0.46mm;HEIGHT:3.18mm;"></TD>
                      <TD COLSPAN="9" style="WIDTH:196.27mm;min-width: 196.27mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:196.39mm;min-width: 195.51mm;HEIGHT:3.18mm;" class="a15l">
                              <DIV style="WIDTH:195.51mm;">{{ mainKey.Section3.One }}</DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:0.46mm;min-width: 0.46mm;HEIGHT:3.18mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:3.18mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="9" style="WIDTH:196.27mm;min-width: 196.27mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:196.39mm;min-width: 195.51mm;HEIGHT:3.18mm;" class="a18">
                              <DIV style="WIDTH:195.51mm;">
                                <DIV class="a17"><span class="a16">&bull; {{ mainKey.Section3.Two }}</span>
                                </DIV>
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:0.46mm;min-width: 0.46mm;HEIGHT:3.18mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:3.18mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="9" style="WIDTH:196.27mm;min-width: 196.27mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:196.39mm;min-width: 195.51mm;HEIGHT:3.18mm;" class="a21">
                              <DIV style="WIDTH:195.51mm;">
                                <DIV class="a20"><span class="a19">&bull; {{ mainKey.Section3.Three }}</span></DIV>
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:0.46mm;min-width: 0.46mm;HEIGHT:3.18mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:3.18mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="9" style="WIDTH:196.27mm;min-width: 196.27mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:196.39mm;min-width: 195.51mm;HEIGHT:3.18mm;" class="a24">
                              <DIV style="WIDTH:195.51mm;">
                                <DIV class="a23"><span class="a22">&bull; {{ mainKey.Section3.Four}} </span><span style="font-weight:700;text-decoration:underline;"
                                    class="a22"> {{ mainKey.Section3.Five }} </span><span class="a22">{{ mainKey.Section3.Six }}</span></DIV>
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:0.46mm;min-width: 0.46mm;HEIGHT:3.18mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:3.18mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="9" style="WIDTH:196.27mm;min-width: 196.27mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:196.39mm;min-width: 190.92mm;HEIGHT:3.18mm;" class="a27">
                              <DIV style="WIDTH:190.92mm;">
                                <DIV class="a26"><span style="font-weight:700;" class="a25">{{ mainKey.Section3.Seven }} </span><span
                                    class="a25"> {{ mainKey.Section3.Eight }}</span></DIV>
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:0.46mm;min-width: 0.46mm;HEIGHT:3.18mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:3.17mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="9" style="WIDTH:196.27mm;min-width: 196.27mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:196.39mm;min-width: 179.63mm;HEIGHT:3.18mm;" class="a30">
                              <DIV style="WIDTH:179.63mm;">
                                <DIV class="a29"><span class="a28">{{ mainKey.Section3.Nine }}</span></DIV>
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:0.46mm;min-width: 0.46mm;HEIGHT:3.17mm;"></TD>
                    </TR>
                    <TR>
                      <TD style="HEIGHT:3.18mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="10" style="WIDTH:196.73mm;min-width: 196.73mm;HEIGHT:3.18mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:5.08mm;WIDTH:0.00mm"></TD>
                      <TD ROWSPAN="5" COLSPAN="3" style="WIDTH:0.46mm;min-width: 0.46mm;HEIGHT:5.08mm;"></TD>
                      <TD COLSPAN="6" style="WIDTH:195.81mm;min-width: 195.81mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:195.93mm;min-width: 194.34mm;HEIGHT:5.08mm;" class="a33l">
                              <DIV style="WIDTH:195.05mm;">{{ mainKey.OptionsSection.One }}</DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:0.46mm;min-width: 0.46mm;HEIGHT:5.08mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:3.17mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="6" style="WIDTH:195.81mm;min-width: 195.81mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:195.93mm;min-width: 194.70mm;HEIGHT:3.18mm;" class="a36">
                              <DIV style="WIDTH:194.70mm;">
                                <DIV class="a35"><span class="a34"><mat-checkbox id='option1' [(ngModel)]="options[0]" (click)='checkBox(1)' color='primary'></mat-checkbox></span><span style="font-weight:700;"
                                    class="a34">{{ mainKey.OptionsSection.Option }} 1.</span><span class="a34">  {{ mainKey.OptionsSection.Two }}  </span><span
                                    style="font-weight:700;text-decoration:underline;" class="a34">{{ mainKey.Section3.Five }}</span><span class="a34">{{ mainKey.OptionsSection.Three }} </span><span style="font-weight:700;"
                                    class="a34">{{ mainKey.OptionsSection.Four }}</span><span class="a34">
                                      {{ mainKey.OptionsSection.Five }}</span></DIV>
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:0.46mm;min-width: 
0.46mm;HEIGHT:3.17mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:3.18mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="6" style="WIDTH:195.81mm;min-width: 195.81mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:195.93mm;min-width: 194.70mm;HEIGHT:3.18mm;" class="a39">
                              <DIV style="WIDTH:194.70mm;">
                                <DIV class="a38"><span class="a37"><mat-checkbox (click)='checkBox(2)' [(ngModel)]="options[1]" id='option2' color='primary'></mat-checkbox></span><span style="font-weight:700;"
                                    class="a37">{{ mainKey.OptionsSection.Option }} 2.</span><span class="a37"> {{ mainKey.OptionsSection.Six }}</span><span
                                    style="font-weight:700;text-decoration:underline;" class="a37">{{ mainKey.Section3.Five }}</span><span class="a37"> {{ mainKey.OptionsSection.Seven }} </span><span style="font-weight:700;" class="a37">{{ mainKey.OptionsSection.Eight }}</span></DIV>
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:0.46mm;min-width: 0.46mm;HEIGHT:3.18mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:3.17mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="6" style="WIDTH:195.81mm;min-width: 195.81mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:195.93mm;min-width: 194.70mm;HEIGHT:3.18mm;" class="a42">
                              <DIV style="WIDTH:194.70mm;">
                                <DIV class="a41"><span class="a40"><mat-checkbox [(ngModel)]="options[2]" (click)='checkBox(3)' id='option3'color='primary'></mat-checkbox> </span><span style="font-weight:700;"
                                    class="a40">{{ mainKey.OptionsSection.Option }} 3.</span><span class="a40"> {{ mainKey.OptionsSection.Nine }} </span><span
                                    style="font-weight:700;text-decoration:underline;" class="a40">{{ mainKey.Section3.Five }}</span><span class="a40"> {{ mainKey.OptionsSection.Ten }}</span><span style="font-weight:700;" class="a40"> {{ mainKey.OptionsSection.Eleven }}</span></DIV>
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:0.46mm;min-width: 0.46mm;HEIGHT:3.17mm;"></TD>
                    </TR>
                    <TR>
                      <TD style="HEIGHT:1.59mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="7" style="WIDTH:196.27mm;min-width: 196.27mm;HEIGHT:1.59mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:7.27mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="8" style="WIDTH:195.93mm;min-width: 195.93mm;">
                        <TABLE *ngIf="language === 'spanish'" CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:195.93mm;min-width: 195.05mm;HEIGHT:7.27mm;" class="a45">
                              <DIV style="WIDTH:195.05mm;">
                                <DIV class="a44"><span style="font-weight:700;" class="a43">Informaci&#243;n adicional:
                                    En
                                    esta notificaci&#243;n se da a conocer
                                    nuestra opini&#243;n, no la de
                                    Medicare.</span><span class="a43"> Si tiene
                                    otras preguntas sobre la presente
                                    notificaci&#243;n o el cobro a Medicare,
                                    llame al </span><span style="font-weight:700;"
                                    class="a43">1-800-MEDICARE(1-800-633-4227/TTY:
                                    1-877-486-2048). <br />Al firmar abajo usted
                                    indica que ha recibido y comprende la
                                    presente notificaci&#243;n. Tambi&#233;n se
                                    le entrega una copia.</span></DIV>
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                        <TABLE *ngIf="language === 'english'" CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:195.93mm;min-width: 195.05mm;HEIGHT:7.27mm;" class="a45">
                              <DIV style="WIDTH:195.05mm;">
                                <DIV class="a44"><span style="font-weight:700;" class="a43">{{ mainKey.AdditionalSection.One }}</span><span class="a43"> {{ mainKey.AdditionalSection.Two }} <br /></span><span style="font-weight:700;" class="a43">{{ mainKey.AdditionalSection.Three }}</span><span class="a43"> {{ mainKey.AdditionalSection.Four }} </span><span
                                  style="font-weight:700;" class="a43">1-800-MEDICARE</span><span class="a43">
                                  (1-800-633-4227/</span><span style="font-weight:700;" class="a43">TTY</span><span
                                  class="a43">:1-877-486-2048). {{ mainKey.AdditionalSection.Five }}</span></DIV>
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD ROWSPAN="2" COLSPAN="2" style="WIDTH:0.80mm;min-width: 0.80mm;HEIGHT:7.27mm;"></TD>
                    </TR>
                    <TR>
                      <TD style="HEIGHT:4.64mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="8" style="WIDTH:195.93mm;min-width: 195.93mm;HEIGHT:4.64mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:6.12mm;WIDTH:0.00mm"></TD>
                      <TD ROWSPAN="4" COLSPAN="2" style="WIDTH:
0.46mm;min-width: 0.46mm;HEIGHT:6.12mm;"></TD>
                      <TD COLSPAN="4" style="WIDTH:154.12mm;min-width: 154.12mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:154.12mm;min-width: 152.18mm;HEIGHT:6.12mm;" class="a48l" [ngClass]="{'hasSignature': signature !== ''}">
                              <DIV style="WIDTH:153.24mm;">{{ mainKey.Signature.One }} 
                                <button *ngIf="signature === ''" mat-button (click)='openSignaturePad();' style='position: relative; left: 20px; margin: 0px !important'>Sign</button>
                                <img *ngIf="signature !== ''" src="{{signature}}" style="height: 50px; width: 350px;" />
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD COLSPAN="4" style="WIDTH:42.15mm;min-width: 42.15mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:42.27mm;min-width: 40.33mm;HEIGHT:6.12mm;" class="a51l" [ngClass]="{'hasSignature': signature !== ''}">
                              <DIV style="WIDTH:41.39mm;">{{ mainKey.Signature.Two }}  {{ getDate() }} </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                    </TR>
                    <TR>
                      <TD style="HEIGHT:1.77mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="8" style="WIDTH:196.27mm;min-width: 196.27mm;HEIGHT:1.77mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:3.17mm;WIDTH:0.00mm"></TD>
                      <TD style="WIDTH:0.00mm;min-width: 0.00mm;HEIGHT:3.17mm;"></TD>
                      <TD COLSPAN="7" style="WIDTH:196.27mm;min-width: 196.27mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:196.39mm;min-width: 194.98mm;HEIGHT:3.18mm;" class="a54">
                              <DIV style="WIDTH:194.98mm;">{{ mainKey.FinePrint.One }}
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                    </TR>
                    <TR>
                      <TD style="HEIGHT:0.35mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="8" style="WIDTH:196.27mm;min-width: 196.27mm;HEIGHT:0.35mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:3.17mm;WIDTH:0.00mm"></TD>
                      <TD style="WIDTH:0.34mm;min-width: 0.34mm;HEIGHT:3.17mm;"></TD>
                      <TD COLSPAN="10" style="WIDTH:196.39mm;min-width: 196.39mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:196.39mm;min-width: 194.98mm;HEIGHT:3.18mm;" class="a57l">
                              <DIV style="WIDTH:194.98mm;">
                                {{ mainKey.FinePrint.Two }}</DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:0.46mm;min-width: 0.46mm
;HEIGHT:3.17mm;"></TD>
                    </TR>
                    <TR>
                      <TD style="HEIGHT:0.70mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="12" style="WIDTH:197.19mm;min-width: 197.19mm;HEIGHT:0.70mm;"></TD>
                    </TR>
                    <TR VALIGN="top">
                      <TD style="HEIGHT:80.78mm;WIDTH:0.00mm"></TD>
                      <TD COLSPAN="3" style="WIDTH:0.46mm;min-width: 0.46mm;HEIGHT:80.78mm;">
                      </TD>
                      <TD COLSPAN="3" style="WIDTH:75.21mm;min-width: 75.21mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:75.21mm;min-width: 73.80mm;HEIGHT:3.18mm;" class="a60l">
                              <DIV style="WIDTH:73.80mm;">{{ mainKey.FinePrint.Three }}</DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD style="WIDTH:50.60mm;min-width: 50.60mm;HEIGHT:80.78mm;"></TD>
                      <TD COLSPAN="2" style="WIDTH:68.07mm;min-width: 68.07mm;">
                        <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                          <TR>
                            <TD style="WIDTH:68.07mm;min-width: 66.66mm;HEIGHT:3.18mm;" class="a63">
                              <DIV style="WIDTH:66.66mm;">{{ mainKey.FinePrint.Four }}</DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                      <TD COLSPAN="3" style="WIDTH:2.86mm;min-width: 2.86mm;HEIGHT:80.78mm;">
                      </TD>
                    </TR>
                  </TABLE>
                </DIV>
              </TD>
            </TR>
          </TABLE>
        </TD>
        <TD WIDTH="100%" HEIGHT="0"></TD>
      </TR>
      <TR>
        <TD WIDTH="0" HEIGHT="100%"></TD>
      </TR>
    </TABLE>
  </DIV>
</DIV>
<button *ngIf='cordova === true' mat-button (click)='print();'>Print</button>
<button *ngIf='cordova === true' mat-button (click)='androidPrint();'>Android Print</button>
<button *ngIf='cordova === true' mat-button (click)='androidPrint2();'>Android Print 2</button>
<button *ngIf='cordova === false' mat-button (click)="generatePDF('print');">Print</button>
<button *ngIf='cordova === false' mat-button (click)="generatePDF('download');">Download PDF</button>

