.ap {
    background-color: Transparent;
    border: 1pt none Black;
  }

  .a12c {
    border: 1pt none Black;
    background-color: Transparent;
  }

  .a12 {
    min-width: 197.31mm;
    HEIGHT: 23.27mm;
    WIDTH: 197.31mm;
    border: 1pt none Black;
    background-color: Transparent;
  }

  .a1 {
    min-width: 50.80mm;
    HEIGHT: 13.97mm;
    WIDTH: 50.80mm;
    overflow: hidden;
    padding-left: 0pt;
    padding-top: 0pt;
    padding-right: 0pt;
    padding-bottom: 2pt;
    border: 1pt none Black;
  }

  .a4 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 0.5pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 1pt none Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 14pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: center;
  }

  .a10l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border: 1pt none Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 10pt;
    font-weight: 400;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
  }

  .a7 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 0.5pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 1pt none Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: center;
  }

  .a172xBc {
    border: 1pt none Black;
    background-color: Transparent;
  }

  .a172xB {
    border: 1pt none Black;
    background-color: Transparent;
  }

  .a170 {
    border: 1pt none Black;
    background-color: Transparent;
  }

  .a75cl {
    padding-left: 2pt;
    padding-top: 1pt;
    padding-right: 0.5pt;
    padding-bottom: 1pt;
    border-bottom: 1pt solid Black;
    border-left: 1pt solid Black;
    border-right: 1pt solid Black;
    border-top: 1pt solid Black;
    background-color: Transparent;
    vertical-align: middle;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 103.09mm;
    WIDTH: 103.09mm;
  }

  .a75 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: middle;
    text-align: left;
  }

  .a80c {
    padding-left: 0.5pt;
    padding-top: 1pt;
    padding-right: 0.5pt;
    padding-bottom: 1pt;
    border-bottom: 1pt solid Black;
    border-left: 1pt solid Black;
    border-right: 1pt solid Black;
    border-top: 1pt solid Black;
    background-color: Transparent;
    vertical-align: middle;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 92.84mm;
    WIDTH: 92.84mm;
  }

  .a80 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: middle;
    text-align: left;
  }

  .a88c {
    padding-left: 2pt;
    padding-top: 10pt;
    padding-right: 0.5pt;
    padding-bottom: 10pt;
    border: 1pt none Black;
    border-bottom: 1pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: center;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 195.93mm;
    WIDTH: 195.93mm;
  }

  .a88 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 14pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: center;
  }

  .a98c {
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    vertical-align: top;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 195.93mm;
    WIDTH: 195.93mm;
  }

  .a98 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
  }

  .a97 {
    text-align: left;
  }

  .a96 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: Black;
  }

  .a108c {
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    vertical-align: top;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 195.93mm;
    WIDTH: 195.93mm;
  }

  .a108 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
  }

  .a107 {
    text-align: left;
  }

  .a106 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
  }

  .a118cl {
    padding-left: 2pt;
    padding-top: 5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border-bottom: 0.5pt solid Black;
    border-left: 0.5pt solid Black;
    border-right: 0.5pt solid Black;
    border-top: 0.5pt solid Black;
    background-color: #d3d3d3;
    vertical-align: top;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 50.15mm;
    WIDTH: 50.15mm;
  }

  .a118 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 11pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
  }

  .a122cl {
    padding-left: 2pt;
    padding-top: 5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border-bottom: 0.5pt solid Black;
    border-left: 0.5pt solid Black;
    border-right: 0.5pt solid Black;
    border-top: 0.5pt solid Black;
    background-color: #d3d3d3;
    vertical-align: top;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 103.97mm;
    WIDTH: 103.97mm;
  }

  .a122 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 11pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
  }

  .a128c {
    padding-left: 2pt;
    padding-top: 5pt;
    padding-right: 2pt;
    padding-bottom: 0.5pt;
    border-bottom: 0.5pt solid Black;
    border-left: 0.5pt solid Black;
    border-right: 0.5pt solid Black;
    border-top: 0.5pt solid Black;
    background-color: #d3d3d3;
    vertical-align: top;
    text-align: right;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 41.81mm;
    WIDTH: 41.81mm;
  }

  .a128 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 11pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: right;
  }

  .a134c {
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border: 2pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 50.15mm;
    WIDTH: 50.15mm;
  }

  .a134 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 11pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
  }

  .a138cl {
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border-bottom: 2pt solid Black;
    border-left: 2pt solid Black;
    border-right: 2pt solid Black;
    border-top: 2pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 128.59mm;
    WIDTH: 128.59mm;
  }

  .a138 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 11pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
  }

  .a145c {
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border-bottom: 2pt solid Black;
    border-left: 2pt solid Black;
    border-right: 2pt solid Black;
    border-top: 2pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: right;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 17.19mm;
    WIDTH: 17.19mm;
  }

  .a145 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 11pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: right;
  }

  .a150c {
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border-right: 2pt solid Black;
    border-top: 2pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 154.12mm;
    WIDTH: 154.12mm;
  }

  .a157cl {
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border-bottom: 2pt solid Black;
    border-left: 2pt solid Black;
    border-right: 2pt solid Black;
    border-top: 2pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: left;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 24.62mm;
    WIDTH: 24.62mm;
  }

  .a157 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 11pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
  }

  .a161c {
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border-bottom: 2pt solid Black;
    border-left: 2pt solid Black;
    border-right: 2pt solid Black;
    border-top: 2pt solid Black;
    background-color: Transparent;
    vertical-align: top;
    text-align: right;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    min-width: 17.19mm;
    WIDTH: 17.19mm;
  }

  .a161 {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-style: normal;
    font-family: Arial;
    font-size: 10pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: right;
  }

  .a56c {
    border: 1pt none Black;
    background-color: Transparent;
  }

  .a56 {
    min-width: 197.31mm;
    HEIGHT: 158.39mm;
    WIDTH: 197.31mm;
    border: 1pt none Black;
    background-color: Transparent;
  }

  .a15l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 14pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
  }

  .a18 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
  }

  .a17 {
    text-align: left;
  }

  .a16 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
  }

  .a21 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
  }

  .a20 {
    text-align: left;
  }

  .a19 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
  }

  .a24 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
  }

  .a23 {
    text-align: left;
  }

  .a22 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
  }

  .a27 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 15pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
  }

  .a26 {
    text-align: left;
  }

  .a25 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
  }

  .a30 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 47pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
  }

  .a29 {
    text-align: left;
  }

  .a28 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
  }

  .a33l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 0.5pt;
    border: 1pt solid Black;
    background-color: #d3d3d3;
    font-style: normal;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
  }

  .a36 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 5pt;
    padding-right: 0.5pt;
    padding-bottom: 5pt;
    border: 0.5pt none Black;
    border-left: 0.5pt solid Black;
    border-right: 0.5pt solid Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
  }

  .a35 {
    text-align: left;
  }

  .a34 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
  }

  .a39 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 5pt;
    border: 0.5pt none Black;
    border-left: 0.5pt solid Black;
    border-right: 0.5pt solid Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
  }

  .a38 {
    text-align: left;
  }

  .a37 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
  }

  .a42 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 0.5pt;
    padding-right: 0.5pt;
    padding-bottom: 5pt;
    border: 0.5pt none Black;
    border-bottom: 1.5pt solid Black;
    border-left: 0.5pt solid Black;
    border-right: 0.5pt solid Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
  }

  .a41 {
    text-align: left;
  }

  .a40 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
  }

  .a45 {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 5pt;
    padding-right: 0.5pt;
    padding-bottom: 5pt;
    border: 0.5pt none Black;
    background-color: Transparent;
    font-size: 0pt;
    unicode-bidi: normal;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
  }

  .a44 {
    text-align: left;
  }

  .a43 {
    font-family: Arial;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: Black;
  }

  .a48l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 20pt;
    padding-right: 0.5pt;
    padding-bottom: 2pt;
    border-bottom: 1.5pt solid Black;
    border-left: 1.5pt solid Black;
    border-right: 1.5pt solid Black;
    border-top: 1.5pt solid Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
  }

  .a51l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 20pt;
    padding-right: 0.5pt;
    padding-bottom: 2pt;
    border-bottom: 1.5pt solid Black;
    border-left: 1.5pt solid Black;
    border-right: 1.5pt solid Black;
    border-top: 1.5pt solid Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
  }

  .a54l {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-left: 2pt;
    padding-top: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    border: 1pt none Black;
    background-color: Transparent;
    font-style: normal;
    font-family: Arial;
    font-size: 7pt;
    font-weight: 400;
    text-decoration: none;
    unicode-bidi: normal;
    color: Black;
    direction: ltr;
    layout-flow: horizontal;
    writing-mode: lr-tb;
    vertical-align: top;
    text-align: left;
  }

  .r1 {
    HEIGHT: 100%;
    WIDTH: 100%
  }

  .r2 {
    HEIGHT: 100%;
    WIDTH: 100%;
    overflow: hidden
  }

  .r3 {
    HEIGHT: 100%
  }

  .r4 {
    border-style: none
  }

  .r5 {
    border-left-style: none
  }

  .r6 {
    border-right-style: none
  }

  .r7 {
    border-top-style: none
  }

  .r8 {
    border-bottom-style: none
  }

  .r10 {
    border-collapse: collapse
  }

  .r9 {
    border-collapse: collapse;
    table-layout: fixed
  }

  .r11 {
    WIDTH: 100%;
    overflow-x: hidden
  }

  .r12 {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid black;
  }

  .r13 {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  .r14 {
    font-size: 0pt
  }

  .r15 {
    direction: RTL;
    unicode-bidi: embed
  }

  .r16 {
    margin-top: 0pt;
    margin-bottom: 0pt
  }

  .r17 {
    HEIGHT: 100%;
    WIDTH: 100%;
    display: inline-table
  }

  .r18 {
    HEIGHT: 100%;
    display: inline-table
  }

  * {
    box-sizing: border-box
  }