<div class="drawer-overlay" [ngClass]="{'show': isDrawerOpen == true}" (click)="clickOverlay()"></div>
<div class="drawer-container" [ngClass]="{'show': isDrawerOpen == true}">
	<mat-toolbar color="white">
		<mat-icon (click)="clickOverlay()">arrow_back</mat-icon>
		<div class="drawer-header-text" l10nTranslate>Header.Associated users</div>
		<mat-icon class='filter-icon' (click)="openFilter();txtFilter.focus()">filter_list</mat-icon>
		<div class="filter-container" [ngClass]="{'show': showFilter == true}">
			<input #txtFilter matInput placeholder="{{translation.translate('Label.Filter')}}" (input)='applyFilter()'
			 [(ngModel)]="filterValue" />
			<mat-icon class="btn-close-filter" (click)="closeFilter();clearFilter()">close</mat-icon>
		</div>
	</mat-toolbar>
	<div class="drawer-content">
		<mat-card style='padding: 0px;'>
			<div class="form-field-title  associatedTitle" l10nTranslate>Label.Assigned Users</div>
			<br />
			<div class="subtitle-headers">
				<span class="form-field-subtitle associatedSubTitle" l10nTranslate>Label.Users</span>
				<span class="form-field-subtitle subtitle-right" l10nTranslate>Label.Assigned</span>
			</div>
			<br />
			<div class="user-hr"></div>
			<ng-container *ngFor="let user of usersFiltered">
				<div class='userRow'>
					<div style="float: left;">
						<ng-container *ngIf="user?.AvatarURL?.length <= 1">
							<span class="circle">{{utilsService.getInitials(user)}}</span>
						</ng-container>
						<ng-container *ngIf="user?.AvatarURL?.length > 1">
							<img class="avatarCircle" src="{{user.AvatarURL}}" alt="" />
						</ng-container>
					</div>
					<div class="user-info-span">
						<span style="line-height: 14px;">{{user.FirstName}} {{user.LastName}}</span>
						<br class="user-br">
						<span class="email-span">{{user.Email}}</span>
					</div>
					<mat-icon class="checkBoxDiv selectorCheckbox" *ngIf="user.check === false" (click)="propagateCheckbox($event, user)">check_box_outline_blank</mat-icon>
					<mat-icon class="checkBoxDiv selectorCheckbox checked" *ngIf="user.check === true" (click)="propagateCheckbox($event, user)">check_box</mat-icon>

				</div>
				<div class="user-hr"></div>
			</ng-container>
			<div class="card-bottom-space"></div>
		</mat-card>
	</div>
	<div class="drawer-footer">
		<button class="btn-save" mat-button (click)="save()" l10nTranslate>Label.Save</button>
	</div>
</div>