.legendOverlay {
    left: 0px;
    position: fixed;
    top: 0px;
    width: 0;
    height: 0;
}

.legendOverlay.show {
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.legendContainer {
    border-radius: 3px;
    background: white;
    padding: 0;
    position: fixed;
}

.legendContainer.show {
    z-index: 6;
    padding-right: 15px;
    padding-left: 14px;
    padding-top: 7px;
    padding-bottom: 17px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.legendContainer>div {
    display: none;
}

.legendContainer.show>div {
    display: block;
}

.legend-icon {
    padding: 0;
    cursor: default;
    position: relative;
    top: 8px;
    margin-right: 14px;
}

.legend-icon:hover {
    color: rgba(0, 0, 0, 0.54);
}

.legend-row {
    height: 31px;
}

.legendIconText {
    font-size: 13px;
}