.unsaved-changes-dialog {
	padding-top: 26px;
	padding-left: 23px;
	padding-right: 24px;
	padding-bottom: 32px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 14px;
}

.btn-alert-ok {
	margin-top: 28px;
	margin-bottom: 32px !important;
	min-width: 0px;
}

.btn-alert-no {
	float: right;
	margin-bottom: 32px;
}

.btn-alert-yes {
	float: right;
}

.add-overlay {
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: rgba(35, 34, 35, 0.1);
	z-index: 5;
}

.add-overlay.show {
	animation-duration: 0.25s;
	animation-name: showDrawerOverlay;
	display: block;
	opacity: 1;
}

.cdk-overlay-container>.unsavedOverlay {
	/* Black background with opacity */
	background-color: rgba(35, 34, 35, 0);
	z-index: 3 !important;
}
