.mat-column-Code,
.mat-column-Description {
    padding-right: 24px;
    white-space: nowrap;
}

.mat-column-IsActive {
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    width: 36px;
}

app-location-add {
    z-index: 2;
}