<div class="drawer-overlay" *ngIf="showOverlay" [ngClass]="{'show': showDrawer}" (click)="clickOverlay()"></div>
<div class="drawer-overlay-clear" *ngIf="!showOverlay" [ngClass]="{'show': showDrawer}" (click)="clickOverlay()"></div>
<div class="spinner-overlay" [ngClass]="{'show': (isLoading | async)}"></div>
<div class="loading-indicator" *ngIf="(isLoading | async)">
	<mat-progress-spinner *ngIf="(isLoading | async)" color="primary" mode="indeterminate"> </mat-progress-spinner>
</div>
<div class="drawer-container" [ngClass]="{'show': showDrawer === true, 'hideShadow': hideShadow}">
	<div class="box-shadow-container" style="overflow: hidden; padding-bottom: 8px;">
		<mat-toolbar class="drawerToolbar" style="z-index: 3;" color="white">
			<mat-icon *ngIf=showIdentify (click)=clickOverlay()>arrow_back</mat-icon>
			<mat-icon *ngIf=!showIdentify (click)=back()>arrow_back</mat-icon>
			<div>
				<div class="drawer-header-text">{{collection.Patient.LastName}}, {{collection.Patient.FirstName}}</div>
				<div class="patientMRN">
					<span>{{collection.Patient.DateOfBirth}}</span>
					<span style="margin-left: 7px;">{{collection.Patient.Gender}}</span>
					<span style="margin-left: 7px;">{{collection.Patient.MRN}}</span>
				</div>
			</div>

			<div class="navigationControls">
				<mat-icon class="expand-icon" (click)="clickInfo()" [ngClass]="{'expanded': showPatientInfo}">expand_more</mat-icon>
			</div>
		</mat-toolbar>
	</div>

	<div class="drawer-content">
		<app-work-list-patient #workListCollection (displayPatientInfo)=updateShowPatientInfo($event)></app-work-list-patient>
		<app-work-list-identify (verified)=identifyVerified($event) #workListIdentify></app-work-list-identify>
		<app-work-list-select (updateNext)=selectUpdate($event) #workListSelect></app-work-list-select>
		<app-work-list-location (submitLocation)=recordLocation($event) #workListLocation></app-work-list-location>
		<app-work-list-central-line (submitCentralLine)=recordCentralLine($event) #workListCentralLine></app-work-list-central-line>
		<app-work-list-print-forms #workListPrintForms></app-work-list-print-forms>

		<app-work-list-menu (cancel)=openCancel() (printComm)=openPrintComm() (printPatient)=openPrintPatient() (problemList)=openProblemList()
		 (reschedule)=openReschedule() (transfer)=openTransfer() (closeMenu)=menuClosed() #workListMenu></app-work-list-menu>

		<app-work-list-cancel (cancelSubmit)=cancelSubmit($event) #workListCancel></app-work-list-cancel>
		<app-work-list-print-comm (printComm)=printComm($event) #workListPrintComm></app-work-list-print-comm>
		<app-work-list-print-patient (printPatient)=printPatient($event) #workListPrintPatient></app-work-list-print-patient>
		<app-work-list-problem-list (problemList)=sendToProblemList($event) #workListProblemList></app-work-list-problem-list>
		<app-work-list-reschedule (submitReschedule)=submitReschedule($event) #workListReschedule></app-work-list-reschedule>
		<app-work-list-transfer (submitTransfer)=submitTransfer($event) #workListTransfer></app-work-list-transfer>
	</div>
	<div class="drawer-footer" [ngClass]="{'shadowed': showMenu}">
		<mat-icon class="menuIcon themed" (click)="toggleMenu()">menu</mat-icon>
		<button class="printButton" mat-button *ngIf="showSelect" (click)="selectPrint()" [disabled]="printDisabled"
		 l10nTranslate>Label.Print</button>
		<button class="btn-save" mat-button *ngIf="!showComplete" (click)="next()" [disabled]="nextDisabled" l10nTranslate>Label.Next</button>
		<button class="btn-save" mat-button *ngIf="showComplete" (click)="complete()" [disabled]="completeDisabled"
		 l10nTranslate>Label.Complete</button>
	</div>
</div>
<ng-template appWorkListMenuSlideout></ng-template>