<div style="background-color: #FFFFFF; padding-left: 25px; padding-right: 24px; overflow:hidden !important;">
	<h4 l10nTranslate>Label.Change password</h4>
	<h5 l10nTranslate>Label.Set a password with a minimum of 8 characters and a combination of letters, numbers and symbols</h5>
	<div class="change-password-card">
		<div class='hold-form'>
			<div class="form-field-container">
				<mat-form-field>
					<input matInput id='oldPassword' type='password' placeholder="{{translation.translate('Label.Old password')}}" [(ngModel)]='oldPassword' #oldPasswordForm=ngModel
				    [username]="username" checkPassword />
				<mat-error *ngIf="oldPasswordForm.errors">{{oldPasswordForm.errors.message}}</mat-error>
				</mat-form-field>
			</div>
			<div class="form-field-container">
				<mat-form-field>
					<input (input)="updateRecentlyUsed();" matInput type='password' placeholder="{{translation.translate('Label.New password')}}" [(ngModel)]="newPassword" (keyup)=updateConfirmPassword() #newPasswordForm=ngModel
				    genericRequired />
				<mat-error *ngIf="newPasswordForm.errors">{{newPasswordForm.errors.message}}</mat-error>
				</mat-form-field>
			</div>
			<div id='confirm' class="form-field-container">
				<mat-form-field>
					<input matInput (input)="updateRecentlyUsed();" type='password' placeholder="{{translation.translate('Label.Confirm new password')}}" [(ngModel)]="confirmPassword" (keyup)=updateConfirmPassword() #confirmPasswordForm=ngModel
				    [otherPassword]=newPassword [recentlyUsed]=recentlyUsed confirmPassword />
				<mat-error *ngIf="confirmPasswordForm.errors">{{confirmPasswordForm.errors.message}}</mat-error>
				</mat-form-field>
				<!-- username is not used but placed here to satisfy Chrome warning message -->
				<input type="hidden" name="username" />
			</div>
			<button class='changePwdButton' mat-button (click)="onChangePassword()" l10nTranslate>Label.Change Password</button>
			<br/>
			<br/>
		</div>
	</div>
</div>