.associatedTitle {
    margin-left: 24px;
    padding-top: 5%;
}

.associatedSubTitle {
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100% - 126px);
    display: inline-block;
}

.associated-lab {
    display: inline-block;
    padding-left: 7%;
    padding-bottom: 2%;
    margin-top: -1.5%;
    max-width: 265px !important;
    width: 100% !important;
}

.permission-hr {
    margin-bottom: 0px;
}

.permissionRow {
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    padding-left: 24px;
}

.permission-span {
    float: left;
    width: calc(100% - 86px);
    padding-right: 22px;
}