.subtitle-right {
    position: absolute;
    right: 24px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 600;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.associatedTitle {
    margin-left: 24px;
    padding-top: 5%;
    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 600;
    /* margin-bottom: 16px; */
}

.associatedSubTitle {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 600;
    margin-left: 80px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: inline-block;
    width: calc(100% - 144px);
}

.associated-user {
    display: inline-block;
    padding-left: 7%;
    padding-bottom: 2%;
    margin-top: -1.5%;
    max-width: 265px !important;
    width: 100% !important;
}

.circle {
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #D5D5D5;
    display: inline-block;
    margin-top: 7px;
    height: 32px;
    line-height: 32px;
    width: 32px;
    margin: 0px;
    padding: 0px;
}

.avatarCircle {
    background-color: #D5D5D5;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    position: relative;
    top: 9px;
    margin-left: 2px;
}

.info-span {
    margin-left: 24px;
    width: unset;
    width: calc(100% - 120px);
}

.email-span {
    width: calc(100% - 22px);
    padding-right: 22px;
}

.subheadingDiv {
    margin-top: 6px;
    margin-bottom: 1px;
    line-height: 12px;
}

.selectAll {
    float: right;
    position: relative;
    font-size: 26px;
    padding: 0;
    position: relative;
    top: 3px;
}

.selectAllText {
    position: absolute;
    top: 18px !important;
    right: 24px;
    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 600;
}

/* @media (max-width: 390px) {
.selectAll {
    right: 4px;
}
} */