.signaturePad {
    display: none;
}

.signaturePad.show {
    display: block;
}

.viewerContent {
    max-height: 450px;
    overflow: auto;
}

.signatureButtons {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
