<div class='form' style='padding: 0px;'>
  <div id='formContent'  style="BORDER: 0px; MARGIN: 0px; PADDING: 0px">
    <DIV dir="LTR" ID="oReportDiv">
      <DIV style="WIDTH:100%;" class="ap">
        <TABLE CELLSPACING="0" CELLPADDING="0">
          <TR>
            <TD ID="oReportCell">
              <TABLE CELLSPACING="0" CELLPADDING="0">
                <TR>
                  <TD class="a6c">
                    <DIV class="a6">
                      <TABLE CELLSPACING="0" CELLPADDING="0" BORDER="0" COLS="5" LANG="en-US" class="r10" style="HEIGHT:27.50mm;WIDTH:196.7746mm">
                        <TR>
                          <TD style="HEIGHT:1.03mm;WIDTH:0.00mm"></TD>
                          <TD style="WIDTH:0.92mm;min-width: 0.92mm;HEIGHT:1.03mm;"></TD>
                          <TD style="WIDTH:32.91mm;min-width: 32.91mm;HEIGHT:1.03mm;"></TD>
                          <TD style="WIDTH:17.89mm;min-width: 17.89mm;HEIGHT:1.03mm;"></TD>
                          <TD style="WIDTH:145.05mm;min-width: 145.05mm;HEIGHT:1.03mm;"></TD>
                        </TR>
                        <TR VALIGN="top">
                          <!-- <TD style="HEIGHT:13.97mm;WIDTH:0.00mm"></TD>
                          <TD style="WIDTH:0.92mm;min-width: 0.92mm;HEIGHT:13.97mm;"></TD> -->
                          <TD COLSPAN="2" style="WIDTH:150.80mm;min-width: 150.80mm;">
                            <DIV style="">
                              <!-- <DIV class="a1"><IMG onload="this.fitproportional=true;this.pv=3;this.ph=0;" HEIGHT="53px"
                                  SRC="assets/tricore.jpeg" /></DIV> -->
                                  <div class='labInfo' style='margin-left: 8px;'>
                                      <span class='codeDescription'>{{ data.Lab.Code }}</span><span style='font-size: 14px; color: #757575; margin-left: 4px; margin-right: 4px;'>|</span><span
                                        class='codeDescription'>{{ data.Lab.Description }}</span><br>
                                      <span style='font-size: 11px; position: relative; top: -5px;'>{{ data.Lab.Address }}</span><br>
                                      <span style='font-size: 11px; position: relative; top: -10px;'>{{ data.Lab.Phone }}</span>
                                    </div>
                            </DIV>
                          </TD>
                          <!-- <TD style="WIDTH:145.05mm;min-width: 145.05mm;HEIGHT:13.97mm;"></TD> -->
                        </TR>
                        <TR>
                          <TD style="HEIGHT:1.76mm;WIDTH:0.00mm"></TD>
                          <TD COLSPAN="4" style="WIDTH:196.77mm;min-width: 196.77mm;HEIGHT:1.76mm;"></TD>
                        </TR>
                        <TR VALIGN="top">
                          <!-- <TD style="HEIGHT:10.74mm;WIDTH:0.00mm"></TD>  -->
                          <TD COLSPAN="1" style="WIDTH:33.83mm;min-width: 33.83mm;HEIGHT:10.74mm;"></TD>
                         <!--  <TD COLSPAN="2" style="WIDTH:162.94mm;min-width: 162.94mm;"> -->
                            <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                              <TR>
                                <TD style="WIDTH:132.02mm;min-width: 130.61mm;HEIGHT:8.98mm;" class="a4">
                                  <DIV style="WIDTH:130.61mm;">PATIENT FINANCIAL RESPONSIBILITY FORM</DIV>
                                </TD>
                              </TR>
                            </TABLE>
                          <!-- </TD> -->
                        </TR>
                      </TABLE>
                    </DIV>
                  </TD>
                </TR>
                <TR>
                  <TD class="a269xBc">
                    <TABLE CELLSPACING="0" CELLPADDING="0" BORDER="0" class="a269xB">
                      <TR>
                        <TD style="vertical-align:top">
                          <TABLE CELLSPACING="0" CELLPADDING="0" BORDER="0" COLS="7" LANG="en-US" class="r10" style="WIDTH:196.7746mm">
                            <TR>
                              <TD style="HEIGHT:7.67mm;WIDTH:0.00mm"></TD>
                              <TD style="WIDTH:0.58mm;min-width: 0.58mm;HEIGHT:7.67mm;"></TD>
                              <TD style="WIDTH:0.15mm;min-width: 0.15mm;HEIGHT:7.67mm;"></TD>
                              <TD style="WIDTH:0.12mm;min-width: 0.12mm;HEIGHT:7.67mm;"></TD>
                              <TD style="WIDTH:0.08mm;min-width: 0.08mm;HEIGHT:7.67mm;"></TD>
                              <TD style="WIDTH:195.36mm;min-width: 195.36mm;HEIGHT:7.67mm;"></TD>
                              <TD style="WIDTH:0.35mm;min-width: 0.35mm;HEIGHT:7.67mm;"></TD>
                            </TR>
                            <TR VALIGN="top">
                              <TD style="WIDTH:0.00mm"></TD>
                              <TD ROWSPAN="2" COLSPAN="4" style="WIDTH:0.92mm;min-width: 0.92mm;"></TD>
                              <TD COLSPAN="2" style="WIDTH:195.70mm;min-width: 195.70mm;">
                                <TABLE CELLSPACING="0" CELLPADDING="0" COLS="8" BORDER="0" style="border-collapse:collapse;WIDTH:195.85mm; min-width: 195.85mm;" class="a220">
                                  <TR HEIGHT="0">
                                    <TD style="WIDTH:31.01mm;min-width: 31.01mm"></TD>
                                    <TD style="WIDTH:42.37mm;min-width: 42.37mm"></TD>
                                    <TD style="WIDTH:18.13mm;min-width: 18.13mm"></TD>
                                    <TD style="WIDTH:11.75mm;min-width: 11.75mm"></TD>
                                    <TD style="WIDTH:25.45mm;min-width: 25.45mm"></TD>
                                    <TD style="WIDTH:20.96mm;min-width: 20.96mm"></TD>
                                    <TD style="WIDTH:20.96mm;min-width: 20.96mm"></TD>
                                    <TD style="WIDTH:25.23mm;min-width: 25.23mm"></TD>
                                  </TR>
                                  <TR VALIGN="top">
                                    <TD COLSPAN="4" style="HEIGHT:1.97mm;" class="a37cl">
                                      <DIV class="a37">Patient Name: {{ patient.Name }} </DIV>
                                    </TD>
                                    <TD COLSPAN="4" class="a44c">
                                      <DIV class="a44">Identification Number: {{ patient.IdentificationNumber }} </DIV>
                                    </TD>
                                  </TR>
                                  <TR VALIGN="top">
                                    <TD COLSPAN="8" style="HEIGHT:1.55mm;" class="a52c r14">&nbsp;</TD>
                                  </TR>
                                  <TR VALIGN="top">
                                    <TD COLSPAN="8" style="HEIGHT:2.97mm;" class="a64c">
                                      <DIV class="a64">
                                        <DIV style="WIDTH:194.97mm;">
                                          <DIV class="a63"><span class="a62">&nbsp;</span></DIV>
                                        </DIV>
                                      </DIV>
                                    </TD>
                                  </TR>
                                  <TR VALIGN="top">
                                    <TD COLSPAN="8" style="HEIGHT:4.39mm;" class="a76c">
                                      <DIV class="a76">
                                        <DIV style="WIDTH:194.97mm;">
                                          <DIV class="a75"><span class="a74">Payment is due at time of service.
                                              Estimated
                                              charges may change if more testing is necessary. </span></DIV>
                                        </DIV>
                                      </DIV>
                                    </TD>
                                  </TR>
                                  <TR VALIGN="top">
                                    <TD COLSPAN="8" style="HEIGHT:3.44mm;" class="a88c r14">&nbsp;</TD>
                                  </TR>
                                  <TR VALIGN="top">
                                    <TD COLSPAN="8" style="HEIGHT:6.35mm;" class="a100c">
                                      <DIV class="a100">
                                        <DIV style="WIDTH:194.97mm;">
                                          <DIV class="a99"><span style="font-weight:700;" class="a98">Self-Pay
                                              Patients:</span><span class="a98"> A discount is offered to uninsured
                                              patients who pay at the
                                              time of service. If full patient responsibility cannot be made a $50.00
                                              deposit is required prior to service.</span></DIV>
                                        </DIV>
                                      </DIV>
                                    </TD>
                                  </TR>
                                  <TR VALIGN="top">
                                    <TD COLSPAN="8" style="HEIGHT:2.65mm;" class="a112c r14">&nbsp;</TD>
                                  </TR>
                                  <TR VALIGN="top">
                                    <TD COLSPAN="8" style="HEIGHT:6.35mm;" class="a124c">
                                      <DIV class="a124">
                                        <DIV style="WIDTH:194.97mm;">
                                          <DIV class="a123"><span style="font-weight:700;" class="a122">Health-Insured
                                              Patients:</span><span class="a122"> Check your insurance coverage. If
                                              prior
                                              authorization is needed for today’s lab services, ask your provider if
                                              the
                                              authorization has received approval. TriCore will bill your insurance
                                              company for today’s visit. You are responsible for the amount not paid by
                                              your insurance company. TriCore requires a $25 deposit or enrollment in
                                              Auto-Pay (up to $25) toward payment of your bill. You will be billed for
                                              any unpaid balance.</span></DIV>
                                        </DIV>
                                      </DIV>
                                    </TD>
                                  </TR>
                                  <TR VALIGN="top">
                                    <TD style="HEIGHT:1.55mm;" class="a136c r14">&nbsp;</TD>
                                    <TD COLSPAN="3" class="a140c r14">&nbsp;</TD>
                                    <TD class="a146c r14">&nbsp;</TD>
                                    <TD COLSPAN="3" class="a150c r14">&nbsp;</TD>
                                  </TR>
                                  <TR VALIGN="top" *ngFor='let test of tests'>
                                    <TD style="HEIGHT:1.61mm;" class="a157c">
                                      <DIV class="a157">Laboratory Test: </DIV>
                                    </TD>
                                    <TD COLSPAN="2" class="a161cl">
                                      <DIV class="a161">{{ test.Name }}</DIV>
                                    </TD>
                                    <TD class="a166c r14">&nbsp;</TD>
                                    <TD COLSPAN="3" class="a170c">
                                      <DIV class="a170">Estimated Billed Charge: </DIV>
                                    </TD>
                                    <TD class="a176cl">
                                      <DIV class="a176">${{ test.Charge }}</DIV>
                                    </TD>
                                  </TR>

                                  <TR VALIGN="top">
                                    <TD COLSPAN="2" style="HEIGHT:1.55mm;" class="a193c r14">&nbsp;</TD>
                                    <TD class="a198c r14">&nbsp;</TD>
                                    <TD COLSPAN="4" class="a202c">
                                      <DIV class="a202">Total (Estimated) Billed Charges:</DIV>
                                    </TD>
                                    <TD class="a209cl">
                                      <DIV class="a209">${{ getTotal() }}</DIV>
                                    </TD>
                                  </TR>
                                </TABLE>
                              </TD>
                            </TR>
                            <TR>
                              <TD style="HEIGHT:8.44mm;WIDTH:0.00mm"></TD>
                              <TD COLSPAN="2" style="WIDTH:195.70mm;min-width: 195.70mm;HEIGHT:8.44mm;"></TD>
                            </TR>
                            <TR VALIGN="top">
                              <TD style="WIDTH:0.00mm"></TD>
                              <TD style="WIDTH:0.58mm;min-width: 0.58mm;"></TD>
                              <TD COLSPAN="4" style="WIDTH:195.70mm;min-width: 195.70mm;">
                                <TABLE CELLSPACING="0" CELLPADDING="0" COLS="3" BORDER="0" style="border-collapse:collapse;WIDTH:195.70mm;min-width: 195.70mm;"
                                  class="a252">
                                  <TR HEIGHT="0">
                                    <TD style="WIDTH:65.23mm;min-width: 65.23mm"></TD>
                                    <TD style="WIDTH:65.23mm;min-width: 65.23mm"></TD>
                                    <TD style="WIDTH:65.23mm;min-width: 65.23mm"></TD>
                                  </TR>
                                  <TR VALIGN="top">
                                    <TD COLSPAN="3" style="HEIGHT:6.92mm;" class="a230c">
                                      <DIV class="a230">Patient Name: {{ patient.Name }}</DIV>
                                    </TD>
                                  </TR>
                                  <TR VALIGN="top">
                                    <TD COLSPAN="3" style="HEIGHT:6.35mm;" class="a237c">
                                      <DIV class="a237">Policy Name/Number: MEDICARE OF NEW MEXICO(MC)(MC*) 4C44PROET77</DIV>
                                    </TD>
                                  </TR>
                                  <TR VALIGN="top">
                                    <TD COLSPAN="3" style="HEIGHT:6.35mm;" class="a244c">
                                      <DIV class="a244">Date of Service: {{ getDate() }}</DIV>
                                    </TD>
                                  </TR>
                                </TABLE>
                              </TD>
                              <TD style="WIDTH:0.35mm;min-width: 0.35mm;"></TD>
                            </TR>
                            <TR>
                              <TD style="HEIGHT:14.93mm;WIDTH:0.00mm"></TD>
                              <TD COLSPAN="6" style="WIDTH:196.62mm;min-width: 196.62mm;HEIGHT:14.93mm;"></TD>
                            </TR>
                            <TR VALIGN="top">
                              <TD style="HEIGHT:3.18mm;WIDTH:0.00mm"></TD>
                              <TD ROWSPAN="8" COLSPAN="2" style="WIDTH:0.73mm;min-width: 0.73mm;HEIGHT:3.18mm;"></TD>
                              <TD COLSPAN="4" style="WIDTH:195.89mm;min-width: 195.89mm;">
                                <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                                  <TR>
                                    <TD style="WIDTH:196.05mm;min-width: 195.69mm;HEIGHT:3.18mm;" class="a255">
                                      <DIV style="WIDTH:195.69mm;">
                                        <DIV class="a254"><span class="a253">TriCore’s representative may contact me
                                            about my account using mail, e-mail, or phone (which may include
                                            auto-dialing
                                            and/or pre-recorded messages).</span></DIV>
                                      </DIV>
                                    </TD>
                                  </TR>
                                </TABLE>
                              </TD>
                            </TR>
                            <TR>
                              <TD style="HEIGHT:2.14mm;WIDTH:0.00mm"></TD>
                              <TD COLSPAN="4" style="WIDTH:195.89mm;min-width: 195.89mm;HEIGHT:2.14mm;"></TD>
                            </TR>
                            <TR VALIGN="top">
                              <TD style="HEIGHT:3.18mm;WIDTH:0.00mm"></TD>
                              <TD style="WIDTH:0.12mm;min-width: 0.12mm;HEIGHT:3.18mm;"></TD>
                              <TD COLSPAN="2" style="WIDTH:195.43mm;min-width: 195.43mm;">
                                <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                                  <TR>
                                    <TD style="WIDTH:195.58mm;min-width: 194.70mm;HEIGHT:3.18mm;" class="a258">
                                      <DIV style="WIDTH:194.70mm;">
                                        <DIV class="a257"><span class="a256">I will pay the amount not paid by my
                                            insurance company. It is my responsibility to resolve any disputes about
                                            payment directly with my insurance company. If I signed an Advance
                                            Beneficiary Notice (ABN), I understand that I must pay for services that
                                            Medicare does not cover.</span></DIV>
                                      </DIV>
                                    </TD>
                                  </TR>
                                </TABLE>
                              </TD>
                              <TD style="WIDTH:0.35mm;min-width: 0.35mm;HEIGHT:3.18mm;"></TD>
                            </TR>
                            <TR>
                              <TD style="HEIGHT:1.27mm;WIDTH:0.00mm"></TD>
                              <TD COLSPAN="4" style="WIDTH:195.89mm;min-width: 195.89mm;HEIGHT:1.27mm;"></TD>
                            </TR>
                            <TR VALIGN="top">
                              <TD style="HEIGHT:7.27mm;WIDTH:0.00mm"></TD>
                              <TD COLSPAN="4" style="WIDTH:195.89mm;min-width: 195.89mm;">
                                <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                                  <TR>
                                    <TD style="WIDTH:196.05mm;min-width: 195.16mm;HEIGHT:7.27mm;" class="a261">
                                      <DIV style="WIDTH:195.16mm;">
                                        <DIV class="a260"><span class="a259">I am signing this statement voluntarily,
                                            before receiving services. Any person signing this form on behalf of a
                                            patient (e.g., parent, legal guardian or other legal representative of the
                                            patient) agrees to these terms and conditions, including payment
                                            obligations.</span></DIV>
                                      </DIV>
                                    </TD>
                                  </TR>
                                </TABLE>
                              </TD>
                            </TR>
                            <TR>
                              <TD style="HEIGHT:1.90mm;WIDTH:0.00mm"></TD>
                              <TD COLSPAN="4" style="WIDTH:195.89mm;min-width: 195.89mm;HEIGHT:1.90mm;"></TD>
                            </TR>
                            <TR VALIGN="top">
                              <TD style="HEIGHT:7.27mm;WIDTH:0.00mm"></TD>
                              <TD style="WIDTH:0.12mm;min-width: 0.12mm;HEIGHT:7.27mm;"></TD>
                              <TD COLSPAN="3" style="WIDTH:195.78mm;min-width: 195.78mm;">
                                <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                                  <TR>
                                    <TD style="WIDTH:195.93mm;min-width: 195.22mm;HEIGHT:7.27mm;" class="a264" [ngClass]="{'hasSignature': signature !== ''}">
                                      <DIV style="WIDTH:195.22mm;">
                                        <DIV class="a263"><span class="a262">Signature of Patient, Parent (if the
                                            patient
                                            is under age 18), or Legal Guardian:</span><br>
                                            <!-- <span *ngIf="signature === ''" (click)='openSignaturePad();' class="themed">Sign</span> -->
                                            <button *ngIf="signature === ''" mat-button (click)='openSignaturePad();' style='position: relative; top: 10px; left: 20px;'>Sign</button>
                                          <img *ngIf="signature !== ''" src="{{signature}}" style="height: 60px; width: 400px;" />
                                        </DIV>
                                      </DIV>
                                    </TD>
                                  </TR>
                                </TABLE>
                              </TD>
                            </TR>
                            <TR VALIGN="top">
                              <TD style="HEIGHT:17.70mm;WIDTH:0.00mm"></TD>
                              <TD style="WIDTH:0.12mm;min-width: 0.12mm;HEIGHT:17.70mm;"></TD>
                              <TD COLSPAN="3" style="WIDTH:195.78mm;min-width: 195.78mm;">
                                <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                                  <TR>
                                    <TD style="WIDTH:195.93mm;min-width: 195.22mm;HEIGHT:7.27mm;" class="a267">
                                      <DIV style="WIDTH:195.22mm;">
                                        <DIV class="a266"><span class="a265">Date:<br><br><span style='padding-top: 10px;'> {{ getDate() }} </span></span></DIV>
                                      </DIV>
                                    </TD>
                                  </TR>
                                </TABLE>
                              </TD>
                            </TR>
                          </TABLE>
                        </TD>
                      </TR>
                    </TABLE>
                  </TD>
                </TR>
                <TR>
                  <TD class="a11c">
                    <DIV class="a11">
                      <TABLE CELLSPACING="0" CELLPADDING="0" BORDER="0" COLS="2" LANG="en-US" class="r10" style="HEIGHT:8.98mm;WIDTH:196.7746mm">
                        <TR VALIGN="top">
                          <TD style="HEIGHT:8.98mm;WIDTH:4.96mm;min-width: 4.96mm;HEIGHT:8.98mm;"></TD>
                          <TD style="WIDTH:191.82mm;min-width: 191.82mm;">
                            <TABLE CELLSPACING="0" CELLPADDING="0" LANG="en-US" style="">
                              <TR>
                                <TD style="WIDTH:188.67mm;min-width: 187.26mm;HEIGHT:8.98mm;" class="a9">
                                  <DIV style="WIDTH:187.26mm;">1001 Woodward PL NE Albuquerque NM 87102 • Phone:
                                    505-938-8999 • Toll Free: 800-245-3296</DIV>
                                </TD>
                              </TR>
                            </TABLE>
                          </TD>
                        </TR>
                      </TABLE>
                    </DIV>
                  </TD>
                </TR>
              </TABLE>
            </TD>
            <TD WIDTH="100%" HEIGHT="0"></TD>
          </TR>
          <TR>
            <TD WIDTH="0" HEIGHT="100%"></TD>
          </TR>
        </TABLE>
      </DIV>
    </DIV>
  </div>
</div>
<div class='signButton'>
  <!-- <button (click)='openSignaturePad();'>Sign</button> -->
  <button (click)='download();' mat-button>Download</button>
</div>