/* .maintenance-page:before {
	background-image: url('../../assets/banners/keyboard.png');
} */

app-work-list-legend {
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 4;
}

.refreshDisabled {
    color: rgba(0, 0, 0, .1);
    cursor: default;
}

.rowDisabled {
    background-color: grey;
}

button.mat-button[disabled][disabled]:hover {
    background: white;
}

.periodText {
    font-size: 14px;
    color: rgb(117, 117, 117);
    display: inline-block;
    margin-top: 11px;
    width: calc(100% - 144px - 1px);
    padding-right: 1px;
}

.mac .periodText {
    margin-top: 13px;
}

.reservationIcons {
    padding: 0px;
    margin-left: -3px;
    margin-top: 3px;
    cursor: pointer;
}

.reservationHeader {
    padding: 0px;
    margin-left: -3px;
    margin-top: 3px;
    cursor: default;
}

.reservationHeader:hover {
    color: rgba(0, 0, 0, 0.54);
}

.noPointer {
    cursor: default;
}

.noPointer:hover {
    color: rgba(0, 0, 0, 0.54);
}

.mat-column-Name,
.mat-column-DOB,
.mat-column-Gender,
.mat-column-MRN,
.mat-column-Location,
.mat-column-Priority,
.mat-column-Time,
.mat-column-Bed,
.mat-column-Reserved {
    padding-right: 24px;
    white-space: nowrap;
}

@media (max-width: 440px) {
    .maintenance-page .page-header {
        line-height: 48px !important;
    }
}