.scroll-container {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    max-width: 100%;
}

table {
    border-spacing: 0px;
    width: 100%;
}

td,
th {
    border-bottom: 1px rgb(224, 224, 224) solid;
}

th {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 600;
    text-align: left;
    padding-right: 24px;
}

tr {
    height: 47px;
    line-height: 47px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
}

td {
    padding-right: 24px;
}

th:first-child,
td:first-child {
    padding-left: 24px;
}

th:first-child span:first-child {
    position: relative;
    left: 22px;
}

.expand-icon-container {
    padding: 0px;
    position: relative;
    margin-left: -9px;
    margin-right: 3px;
    top: -3px;
    transition: all .05s linear;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}

.expand-icon {
    padding: 0px;
    position: relative;
    width: 16px;
    top: 13px;
    right: 2px;
}

.expand-icon.expanded {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rowDisabled {
    color: rgba(0, 0, 0, .38) !important;
}

.problemListIcon {
    padding: 0;
    position: relative;
    left: 21px;
    top: 11px;
    cursor: default;
}

.greenDotTransferred {
    right: -1px !important;
}

.rowDisabled .problemListIcon {
    color: rgba(0, 0, 0, .38) !important;
}

.problemListIcon:hover {
    color: rgba(0, 0, 0, .54);
}

.header-row {
    height: 56px;
}

.column-name {
    cursor: pointer;
}

.sort-header {
    cursor: pointer;
}

.sort-arrow-container {
    display: inline-block;
    width: 1px;
    position: absolute;
    margin-left: 6px;
}

.sort-arrow-left {
    position: relative;
    margin: auto;
    height: 2px;
    width: 4px;
    display: inline-block;
    top: -6px;
    left: -1px;
    background-color: #757575;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sort-arrow-right {
    position: relative;
    height: 2px;
    width: 4px;
    display: inline-block;
    top: -6px;
    left: -9px;
    background-color: #757575;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sort-arrow-middle {
    margin: auto;
    display: inline-block;
    position: relative;
    height: 2px;
    top: -8px;
    left: 2px;
    width: 2px;
    background-color: #757575;
    transform: rotate(45deg);
}

.sort-arrow-stem {
    display: inline-block;
    width: 2px;
    height: 8px;
    background-color: #757575;
}

.sort-arrow-container {
    opacity: 0;
}

.sort-header:hover>.sort-arrow-container {
    opacity: .54;
}

.sort-header.sorted-asc>.sort-arrow-container {
    opacity: 1;
}

.sort-header.sorted-desc>.sort-arrow-container {
    opacity: 1;
    transform: rotate(180deg);
    margin-left: 11px;
}

.grid-header {
    display: inline-block;
    line-height: 55px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 600;
    padding-right: 24px;
}

.grid-row {
    height: 47px;
    line-height: 47px;
    font-size: 13px;
    /* min-width: 1657px; */
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 1px rgb(224, 224, 224) solid;
}

.grid-row-br {
    margin-top: -6px;
}

.showAddressCode {
    position: relative;
    top: -8px;
}

.showAddress {
    position: relative;
    top: 0px;
}

.showAddressIcon {
    position: relative;
    top: 5px;
}

.grid-cell {
    display: inline-block;
    padding-right: 24px;
}

.Reserved-header-icon {
    padding: 0px;
    margin-left: -3px;
    cursor: pointer;
    position: relative;
    top: 7px;
}

.reservationIcons {
    padding: 0px;
    margin-left: -3px;
    cursor: pointer;
    position: relative;
    top: 11px;
}

.noPointer {
    cursor: default;
}

.noPointer:hover {
    color: rgba(0, 0, 0, 0.54);
}

.custom-paginator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 56px;
    vertical-align: middle;
    padding: 0 8px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
}

.paginator-icon-container {
    display: flex;
    align-items: center;
}

.paginator-range {
    display: inline-block;
    margin: 0 37px 0 36px;
    position: relative;
    top: -1px;
}

.paginator-icon {
    padding: 0px;
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.items-per-page {
    position: relative;
    top: -1px;
    margin-right: 5px;
}

.paginator-select {
    width: 56px;
    top: -1px;
}

.paginator-icon-disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.26)
}

.left-chevron {
    margin-right: 10px;
}

.right-chevron {
    margin-right: 5px;
}

.completeIcon {
    padding: 0px;
    margin-left: -3px;
    cursor: default;
    color: rgba(0, 0, 0, .38) !important;
    position: relative;
    top: 11px;
}

.right-aligned {
    position: absolute;
    right: 0px;
    margin-right: 43px;
}

.mobile-br {
    margin-top: -5px;
}

.bold {
    font-weight: 600;
}

.top-row,
.middle-row,
.bottom-row {
    display: inline-block;
    position: relative;
    top: 1px;
    font-size: 12px;
    margin-top: 4px;
}

.top-row {
    margin-top: 3px;
}

.top-row span,
.middle-row span,
.bottom-row span {
    display: inline-block;
    margin-left: 8px;
}

.top-row span:first-child,
.middle-row span:first-child,
.bottom-row span:first-child {
    display: inline-block;
    margin-left: 0px;
}

.accession {
    display: inline-block;
    margin-left: 12px !important;
}

td .test-row {
    padding-left: 46px;
}

.test-row {
    height: 47px;
    line-height: unset;
    border-bottom: 1px rgb(224, 224, 224) solid;
}

.test-row td {
    padding: 0px;
}

tr:last-child .test-row:last-child {
    border-bottom: none;
}

.colorText {
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
    height: 15px;
    position: relative;
    top: -1px;
}

.mac .colorText {
    top: 1px;
}

.colorText span {
    position: relative;
    top: 1px;
}

.mac .colorText span {
    top: -1px !important;
}

.showColor {
    color: #FF0000;
}

.rowDisabled .showColor {
    color: rgb(255, 158, 158);
}

/* Wrap Row */

.wrap-row {
    display: inline-block;
    position: relative;
    font-size: 12px;
    top: 14px;
}

.wrap-row.truncating {
    top: 12px;
}

.wrap-row span {
    display: inline-block;
    margin-left: 8px;
}

.wrap-row span:first-child {
    margin-left: 0px;
}

.truncateInstructions {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
    position: relative;
    top: 3px;
}

.splitRow {
    height: 30px;
    line-height: unset;
    border: none;
}

.mac .splitRow.showAddress {
    height: 28px;
}

.mac .splitRow.showAddress td {
    height: 28px;
    padding-bottom: 0px;
}

.splitRow td {
    border: none;
}

.splitRow td .propertyContainer {
    position: relative;
    top: -1px;
}

.splitRow td .propertyContainer.noAddress {
    top: 8px;
}

.mac .splitRow td .propertyContainer {
    top: -2px;
}

.mac .splitRow.showAddress td .propertyContainer {
    top: -2px;
}

.mac .splitRow td .propertyContainer.noAddress {
    top: 9px;
}

.propertyContainer.firstColumn {
    top: -7px !important;
}

.propertyContainer.firstColumn.noAddress {
    top: 2px !important;
}

.mac .propertyContainer.firstColumn {
    top: -7px !important;
}

.mac .showAddress .propertyContainer.firstColumn {
    top: -7px !important;
}

.mac .propertyContainer.firstColumn.noAddress {
    top: 3px !important;
}

.addressSpan {
    position: relative;
    top: -6px;
    left: 19px;
}

.addressRow {
    height: 18px;
    line-height: unset;
}

.mac .addressRow.showAddress {
    height: 15px;
}

.mac .addressRow.showAddress td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.addressRow:last-child {
    height: 17px !important;
}

.mac .addressRow.showAddress:last-child {
    height: 14px !important;
}

.mac .addressSpan {
    top: -6px;
}