<div class="drawer-overlay" [ngClass]="{'show': isDrawerOpen == true}" (click)="closeDrawer()"></div>
<div class="drawer-container" [ngClass]="{'show': isDrawerOpen == true}">
	<mat-toolbar color="white">
		<mat-icon (click)="closeDrawer()">arrow_back</mat-icon>
		<div class="drawer-header-text" l10nTranslate>Label.Change password</div>
	</mat-toolbar>
	<div class="drawer-content">
		<mat-card class="change-password-drawer-card">
			<div class="card-heading" l10nTranslate>Label.Set new password</div>
			<form>
				<mat-form-field class='firstFormField'>
					<input matInput [disabled]="!isDrawerOpen" id='oldPassword' name='oldPassword' type='password' placeholder="{{translation.translate('Label.Old password')}}"
					 [(ngModel)]='oldPassword' #oldPasswordForm=ngModel [username]="username" checkPassword autocomplete="current-password" />
					<mat-error *ngIf="oldPasswordForm.errors">{{oldPasswordForm.errors.message}}</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput [disabled]="!isDrawerOpen" name="newPassword" type='password' placeholder="{{translation.translate('Label.New password')}}"
					 [(ngModel)]="newPassword" (keyup)=updateConfirmPassword() (input)="updateRecentlyUsed();" #newPasswordForm=ngModel
					 genericRequired autocomplete="new-password" />
					<mat-error *ngIf="newPasswordForm.errors">{{newPasswordForm.errors.message}}</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput [disabled]="!isDrawerOpen" name="confirmPassword" type='password' placeholder="{{translation.translate('Label.Confirm new password')}}"
					 [(ngModel)]="confirmPassword" (keyup)=updateConfirmPassword() #confirmPasswordForm=ngModel [otherPassword]=newPassword
					 [recentlyUsed]=recentlyUsed confirmPassword (input)="updateRecentlyUsed();" autocomplete="new-password" />
					<mat-error *ngIf="confirmPasswordForm.errors">{{confirmPasswordForm.errors.message}}</mat-error>
				</mat-form-field>
				<!-- username is not used but placed here to satisfy Chrome warning message -->
				<input [disabled]="!isDrawerOpen" type="hidden" name="username" />
			</form>
		</mat-card>
	</div>
	<div class="drawer-footer">
		<button [disabled]="!isDrawerOpen" class="btn-save" mat-button (click)="onChangePassword()" l10nTranslate>Label.Save</button>
	</div>
</div>