
h4 {
    font-size: 18px;
    margin-top: 30px;
    font-family: open sans;
    font-style: regular;
}

h5 {
    margin-top: -2px;
    line-height: 1.7;
    font-size: 14px;
    font-family: open sans;
    font-style: regular;
}

.change-password-card {
    height: 125px;
    width: 400px;
    margin-top: -20px;
    background-color: white;
    margin-top: -13px;
    margin-left: -1px;
}

.form-field-container {
    background-color: white;
}

#confirm {
    margin-top: -12px;
    padding-bottom: 0;
}

.change-password-drawer-card.mat-card {
    padding-bottom: 0px !important;
}