<div class="drawer-overlay" [ngClass]="{'show': isDrawerOpen === true}" (click)="clickOverlay()"></div>
<div class="drawer-container" [ngClass]="{'show': isDrawerOpen === true}">
	<mat-toolbar color="white">
		<mat-icon (click)="clickOverlay()">arrow_back</mat-icon>
		<div class="drawer-header-text" l10nTranslate>ScreenTitle.Filter</div>
	</mat-toolbar>
	<div class="drawer-content">
		<mat-card>
			<div class="card-heading" l10nTranslate>ScreenTitle.Filter</div>
			<ng-container *ngFor="let col of columns">
				<ng-container *ngIf="col.name === 'DOB'">
					<mat-form-field class="ageField">
						<input numeric class="ageInput" matInput placeholder="{{translation.translate('Label.Age')}}" [(ngModel)]="filterObject[col.name].AgeRange.lower"
						 (blur)=updateLower() [disabled]="!isDrawerOpen || workListBuilt() === false" />
					</mat-form-field>
					<div class="ageSlider">
						<igx-slider [isContinuous]=true #ageSlider [type]="sliderType.RANGE" [minValue]="filterObject[col.name].AgeMin"
						 [maxValue]="filterObject[col.name].AgeMax" [(ngModel)]="filterObject[col.name].AgeRange"
						 [thumbLabelVisibilityDuration]=0 [disabled]="!isDrawerOpen || workListBuilt() === false"></igx-slider>
					</div>
					<mat-form-field class="ageField">
						<input numeric class="ageInput" matInput [(ngModel)]="filterObject[col.name].AgeRange.upper" (blur)=updateUpper()
						 [disabled]="workListBuilt() === false" />
					</mat-form-field>
				</ng-container>
				<ng-container *ngIf=!col.dropdown>
					<mat-form-field *ngIf="col.name !== 'Bed' && col.name !== 'DOB'" [ngClass]="{'lastLine': isLastInput(col) === true, 'lineAfterHeader': isFirstInput(col) === true}">
						<input [disabled]="!isDrawerOpen || workListBuilt() === false || (searchObject && searchObject.Filter[col.name + 'Set'] === true)"
						 matInput placeholder="{{this.translation.translate('Label.' + col.name)}}" [(ngModel)]=filterObject[col.name] />
					</mat-form-field>
				</ng-container>
				<ng-container *ngIf=col.dropdown>
					<mat-form-field [ngClass]="{'selectAfterHeader': isFirstInput(col) === true}">
						<mat-select [disabled]="!isDrawerOpen || workListBuilt() === false || (searchObject && searchObject.Filter[col.name + 'Set'] === true) || (col.name === 'Problem list' && searchObject && searchObject.Filter.ProblemListSet === true)"
						 placeholder="{{this.translation.translate('Label.' + col.name)}}" [(ngModel)]=filterObject[col.name]>
							<mat-option *ngFor="let option of getOptions(col.name)" [value]="option">{{option}}</mat-option>
						</mat-select>
					</mat-form-field>
				</ng-container>

			</ng-container>
			<mat-form-field class='dateTime lastDropdown'>
				<input [ngClass]="{'defaultClick': workListBuilt() === false,'pointerClick': workListBuilt() === true}" (focus)=pickerDateFrom.open()
				 (click)="clickDatepickerFrom($event)" readonly="readonly" [max]="dateRange.dateFrom.maxDate" [min]="dateRange.dateFrom.minDate"
				 [disabled]="!isDrawerOpen || workListBuilt() === false  || (dateRange.dateTo.maxDate._i === dateRange.dateTo.minDate._i)"
				 matInput [matDatepicker]="pickerDateFrom" placeholder="{{this.translation.translate('Label.Date from')}}"
				 (dateChange)="updateDateTo($event)" [(ngModel)]="filterObject.DateFrom">
				<mat-datepicker-toggle matSuffix [for]="pickerDateFrom"></mat-datepicker-toggle>
				<mat-datepicker tabindex="-1" #pickerDateFrom></mat-datepicker>
			</mat-form-field>
			<span class='dateSpan'></span>
			<mat-form-field class='dateTime lastDropdown'>
				<input [ngClass]="{'defaultClick': workListBuilt() === false,'pointerClick': workListBuilt() === true}" (focus)=pickerDateTo.open()
				 (click)="clickDatepickerTo($event)" readonly="readonly" matInput [matDatepicker]="pickerDateTo" placeholder="{{this.translation.translate('Label.Date to')}}"
				 [max]="dateRange.dateTo.maxDate" [min]="dateRange.dateTo.minDate" [disabled]="!isDrawerOpen || workListBuilt() === false || (dateRange.dateFrom.maxDate._i === dateRange.dateFrom.minDate._i)"
				 (dateChange)="updateDateFrom($event)" [(ngModel)]="filterObject.DateTo">
				<mat-datepicker-toggle matSuffix [for]="pickerDateTo"></mat-datepicker-toggle>
				<mat-datepicker tabindex="-1" #pickerDateTo></mat-datepicker>
			</mat-form-field>
		</mat-card>
	</div>
	<div class="drawer-footer">
		<button [disabled]="!isDrawerOpen || workListBuilt() === false" class="btn-save-and-add-another" (click)='clear(false);'
		 (dblclick)="clear(true);" mat-button l10nTranslate>Label.Clear</button>
		<button [disabled]="!isDrawerOpen || workListBuilt() === false" class="btn-save" (click)='save()' mat-button
		 l10nTranslate>ScreenTitle.Filter</button>
	</div>
</div>