h4 {
    font-size: 18px;
    margin-top: 24px;
    font-family: open sans;
    font-style: regular;
    margin-left: -1px;
}

.two-step-verification-card {
    width: 454px;
    background-color: white;
}

.hold-form {
    margin-top: 9%;
}

.hold-form .form-field-container {
    background-color: white;
    height: 73px;
}

 .signinButton {
    margin-left: 64.4%;
    margin-top: -2px;
}

@media(max-width: 440px) {
    .two-step-verification-card {
        width: 100%;
        background-color: white;
    }
    
    .signinButton {
        margin-left: 30.4%;
    }
}