<div style="background-color: #FFFFFF; padding-left: 25px; padding-right: 24px; overflow:hidden !important;">
	<h4 l10nTranslate>Label.Two-step verification</h4>
	<div class="two-step-verification-card">
		<div class='hold-form'>
			<div class="form-field-container">
				<!-- <mat-form-field>
					<input matInput id='securityCode' type='password' placeholder="{{translation.translate('Label.Security code')}}" [(ngModel)]='securityCode' #securityCodeForm=ngModel
				     checkPassword />
				<mat-error *ngIf="securityCodeForm.errors">{{securityCodeForm.errors.message}}</mat-error>
				</mat-form-field> -->
			</div>
			<button class='signinButton' mat-button (click)="onSignin()" l10nTranslate>LogIn.Sign in</button>
			<br/>
			<br/>
		</div>
	</div>
</div>